*{margin: 0;padding: 0;font-size: 14px;font-family: "微软雅黑";text-align: center;color: black;}
a{cursor: pointer;text-decoration: none;outline: none;border: 0;star:expression(this.onFocus=this.blur());}
a:active{outline: none;star:expression(this.onFocus=this.blur());border: 0;}
a:focus { outline:none; }
a img{border: none;display: block;}
img{border: none;display: block;}
ul,ol{list-style: none;}
p{line-height: 24px;}
.mg{margin: 0 auto;width: 1200px;overflow: hidden;}
body{background: #f2f2f2;}