html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mg {
    padding: 50px 0;
    background: white;
    font-size: 0;
    margin-top: 50px;
}

.mg h2 {
    font-size: 18px;
}

.mg .peo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.mg .main {
    font-size: 0;
}


/* .mg>h2{
	font-size: 24px;
	line-height: 50px;
}
.mg>p{
	font-size: 16px;
	max-width: 600px;
	margin: 0 auto;
	text-indent: 2em;
}
.mg>ul>li{
	font-size: 16px;
	line-height: 24px;
}
.ullist{
	text-align: center;
	width: 1200px;
}
.list{
	margin-right: -10px;
	overflow: hidden;
	display: inline-block;
	clear: both;
	text-align: center;
}
.box {
	width: 270px;
	height: 360px;
	border: 1px solid #999;
	position: relative;
	zoom: 1;
	overflow: hidden;
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 10px;
}
.box1 {
	height: 360px;
	text-align: center;
	line-height: 200px;
}
.box2 {
	position: absolute;
	left: -270px;
	top: -360px;
	width: 270px;
	height: 360px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	line-height: 200px;
	display: table;
}
.box .box1 img {
	width: 100%;
	height: 100%;
	display: block;
}
.box .box2>a {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.box .box2>a p {
	color: white;
	font-size: 16px;
}
.box .box2>div{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.box .box2>div p {
	color: white;
	font-size: 16px;
}
.box .box2>div p a{
	color: white;
	font-size: 16px;
} */

.group {
    width: 25%;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    margin-top: 20px;
}

.group h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.list li {
    display: inline-block;
    margin: 0 10px;
    font-size: 0;
}

.list li p {
    font-size: 16px;
}

.list li a:hover {
    color: red;
}

.list li img {
    max-width: 100%;
}

.small .list {
    font-size: 0;
}

.small h4 {
    margin-bottom: 10px;
}

.small {
    border-top: 1px solid #f2f2f2;
    width: 100%;
    padding-top: 10px;
}

.small li {
    width: 25%;
    vertical-align: top;
    margin: 0;
}

.small li img {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.small li p {
    margin: 10px 0;
}

.explain {
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
    margin-top: 10px;
    position: relative;
    height: 140px;
}

.explain strong {
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
}

.explain .left {
    position: absolute;
    width: 390px;
    left: 300px;
    height: 100px;
    top: 24%;
}

#live2dcanvas {
    position: absolute;
    width: 150px;
    height: 300px;
    opacity: 1;
    left: 650px;
    z-index: 999;
    pointer-events: none;
    bottom: -92px;
}

#catIframe {
    position: absolute;
    width: 600px;
    top: 20px;
    left: 460px;
}