@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
*{margin: 0;padding: 0;font-size: 14px;font-family: "微软雅黑";color: black;}
a{cursor: pointer;text-decoration: none!important;outline: none;border: 0;star:expression(this.onFocus=this.blur());}
a:active{outline: none;star:expression(this.onFocus=this.blur());border: 0;}
a:focus { outline:none; }
input{outline: none;}
textarea{outline: none;}
button{outline: none;}
a img{border: none;display: block;}
img{border: none;display: block;}
ul,ol{list-style: none;}
p{line-height: 24px;}
.mg{margin: 0 auto;width: 1200px;}
.ng{margin: 0 auto;width: 1000px;}
.nav>li>a:focus, .nav>li>a:hover{background: blue;}
.header .form-control{height: auto;}
.header .header_nav1 .on{background: blue;}

.header{position: relative;}
.header_left{float: left;margin-top: 18px;display: inline-block;}
.header_search{float: left;}
.header_right{float: right;}
.header_right{margin-top: 8px;}
.header_right li a{color: #333333;}
.header_right p{padding-left: 15px;margin: 0 0 10px 0;}
.header_right img{padding-left: 15px;display: inline;}
.header .shopcar{color: #e91010;}
.header .shopcar .jie{display: inline-block;width: 59px;height: 22px;background: #da2a2a;color: white;padding-left: 4px;}
.header .shopcar span{color: white;}
.header .header_center .search{width: 100%;}
.header_center{float: left;margin-top: 80px;}
.search form input{width: 100%;height: 34px;border: 1px solid #626262;padding-left: 6px;line-height: 34px;}
.search form div button{background: #da2a2a;height: 34px;border: 1px solid #626262;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.search form div span{color: white;}
.search form div{padding: 0;}
.header_center p{margin:10px 20px;}
.header_nav ul{margin: 0 auto;display: inline-block;}
.header_nav{background: #000000;height: 40px;}
.header_nav ul li a{color: white;font-size: 18px;height: 40px;padding-top: 8px;}
.header_nav ul li a:hover{border-radius:0!important;-moz-border-radius:0!important;-webkit-border-radius:0!important;color: #333333;background: #eeeeee!important;}
.header_nav ul li .on{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;color: #333333!important;background:#eeeeee!important;}
.nav_toggle{position: absolute;right:20px;top: 50%;display: none;width: 40px;height: 40px;margin-top: -20px;}
.nav_toggle span{display: block;width: 40px;height: 4px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;background: #fb0005;margin: 7px 0;}
.nav>li>a:hover{background: blue!important;}
.header .header_nav1{display: none;}
.header .header_nav1 dl dd a{border: none;}
.header .header_nav1 dl{margin-bottom: 0;display: none;}
.nav>li>a:hover{background: none!important;}
.header .nav li dl{position: relative;z-index: 510;background: black;display: none}
.header .nav li dl a{display: block}
.nav-pills>li>a{border-radius: 0;-moz-border-radius:0;-webkit-border-radius:0;}
#myCarousel{cursor: pointer;}

.footer{background: #000000;padding: 40px 0;}
.footer ul{display: inline-block;}
.footer ul li a{color: white!important;font-size: 16px;}
.footer ul li a:link,.footer ul li a:visited{background: none;}
.footer p{color: white;max-width: 813px;margin: 0 auto;}

.mg{width: 1200px;margin: 0 auto;overflow: hidden;}
.carousel-indicators li{margin: 0 10px!important;width: 23px;height: 23px;background: url(../images/index/yuan1.png) no-repeat;border: none;}
.carousel-indicators li.active{width: 23px;height: 23px;background: url(../images/index/yuan2.png) no-repeat;}

.clearpd{padding: 0;}
.clearmg{margin: 0;}
.fl{float: left!important;}
.fr{float: right!important;}

/*手指滑动*/
.swiper-container {
  width: 221px;
  height: 296px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.swiper-container1{
  width: 100%;
  height:auto;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.swiper-container1 img{width: 100%;height: auto;}



@media (max-width:767px){
	.footer p{padding: 0 10px;}
	.header_center{display: none;}
	.nav_toggle{display: block;}
	.header .header_nav{display: none;}
	.header .header_nav1{position: absolute;top: 100%;z-index: 500;border: none;display: none;}
	.header .header_nav1{background: none;border-radius: 0;-moz-border-radius:0;-webkit-border-radius:0;padding: 0;}
	.header .header_nav1 a{background: deepskyblue;color: white;border-radius:0 ;-moz-border-radius:0;-webkit-border-radius:0;}
	.nav>li>a:hover{background: blue!important;color: white!important;}
	.header .header_nav1 li{margin-top: 0;}
	.mg {padding-left: 15px;padding-right: 15px;margin-left: auto;margin-right: auto;width: auto;}
	.ng{padding-left: 15px;padding-right: 15px;margin-left: auto;margin-right: auto;width: auto;}
	.header_left{margin-top: 0;}
	.header_right{margin-top: 46px;float: left!important;}
	.header_left img{max-width: 100%;}
	.header_right .nav>li>a{padding: 2px 0px;} 
	.header .container{padding: 0;}
	#myCarousel ol li{display: none;}
}
@media (min-width: 768px) and (max-width: 991px) {
	.mg {margin: 0 auto;width: 750px;}
	.ng {margin: 0 auto;width: 750px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.mg {margin: 0 auto;width: 970px;}
	.ng{margin: 0 auto;width: 970px;}
}




