/*.banner{width: 100%;height: 500px;overflow: hidden;position: relative;}
.banner a{position: absolute;left: 50%;margin-left: -960px;width: 1920px;height: 500px;}
.banner a img{display: block;}*/
.index_title{background: url(../images/index/bg.png)no-repeat bottom;margin: 40px 0 25px 0;}
.index_title h1{color: #9b261e;font-size: 20px;text-transform: uppercase;line-height: 40px;}
.index_title span{font-size: 20px;line-height: 33px;}