.content .mg{width: 1160px;padding: 0 20px;}
.content h2{text-align: center;margin: 60px auto;}
.content h2 span{font-size: 30px;font-weight: normal;text-align: center;border-top:1px solid #879D17;border-bottom: 1px solid #879D17;display: inline-block;line-height:56px;padding: 0 30px;}
.content p:first-child{border-bottom: 1px solid #879D17;padding-left: 10px;}
.content p a.on{color: #879d17;}
.content p:first-child a:hover{color: #879D17;}
.content h3{font-size: 18px;color: #879D17;font-weight: normal;margin-top: 80px;text-align: center;margin-bottom: 10px;}
.content .text{float: left;width: 50%;padding-left: 20px;box-sizing: border-box;}
.content .text p{float: left;text-indent: 2em;width: 540px;}
.content .img{float: right;width: 47%;margin-top: 110px;margin-bottom:100px;}
.content img{float: left;}
.content img:first-of-type +img{margin-top: -130px;margin-left: 280px;}
.content img:first-of-type +img+img{margin-top: -108px;margin-left: -40px;}
.content .bottom{clear: both;padding-bottom: 30px;overflow: hidden;background: url(../img/about/bg.png);margin-top: 50px;padding-bottom: 50px;}
.content .bottom ul{clear: both;}
.content .bottom li{float: left;position: relative;margin: 0 33px;margin-bottom: 30px;}
.content .bottom li>div{height: 200px;overflow: hidden;}
.content .bottom li>div img{height: 599px;width: 100%;}
.content .bottom li a{position: absolute;left: 50%;margin-left: -22px;bottom: -22px;}
.content .bottom h4{font-size: 24px;font-weight: normal;text-align: center;clear: both;margin: 10px 0;}
.content .bottom p{text-align: center;}
