*{color: #666666;}
.content{background: #f5f5f5;padding-top: 60px;padding-bottom: 68px;}
.content h2{text-align: center;margin: 60px auto;margin-top: 0;}
.content h2 span{font-size: 30px;font-weight: normal;text-align: center;border-top:1px solid #879D17;border-bottom: 1px solid #879D17;display: inline-block;line-height:56px;padding: 0 30px;}
.content .mg>p:first-child{border-bottom: 1px solid #879D17;padding-left: 10px;margin: 0 20px;}
.content .mg>p a.on{color: #879d17;}
.content .mg>p:first-child a:hover{color: #879D17;}

.content .mg .map{margin-top: 20px;}
.content .mg .ov{margin:0 20px;border: 1px solid #cccccc;padding: 40px 65px 26px 65px;background: white;margin-top: 30px;}
.content .mg .fl p{line-height: 32px;font-size: 18px;}
.content .mg .fr{width: 44%;margin-top: 62px;padding-left: 20px;}
.content .mg .fr h3{font-size: 24px;color: #333333;text-align: center;font-weight: normal;margin-bottom: 30px;}
.content .mg .fr p{line-height: 50px;float: left;margin-right: 51px;font-size: 18px;}
.content .mg .fr form p:last-of-type{clear: both;}
.content .mg .fr input{width: 100px;border: 1px solid #CCCCCC;height: 20px;line-height: 20px;}
.content .mg form textarea{width: 440px;resize: none;border: 1px solid #CCCCCC;height: 169px;margin-bottom: 36px;}
.content .mg form textarea +input{width: 56px;height: 20px;border: 1px solid #CCCCCC;line-height: 20px;}
.content .mg form textarea +input+a{width: 56px;height: 20px;border: none;background: #879d17;border: 1px solid #879D17;color: white;line-height: 20px;text-align: center;display: inline-block;}
.content .mg .fr form textarea +input+a+input{width: 56px;height: 22px;background: #879d17;border: 1px solid #879D17;color: white;line-height: 22px;margin-left: 20px;}








