*{color: #666666;}
.content{background: #f5f5f5;padding-top: 60px;padding-bottom: 68px;}
.content .mg{background: white;padding: 0 20px;width: 1160px;padding-bottom: 170px;}
.content .mg h2{text-align: center;font-size: 30px;font-weight: normal;border-bottom: 1px solid #879D17;line-height: 70px;}
.content .mg form{margin-top: 100px;}
.content .mg form p{width: 476px;text-align: right;margin: 0 auto;font-size: 30px;margin-bottom: 30px;}
.content .mg form input{width: 300px;height: 50px;border: 1px solid #a7b755;line-height: 50px;}
.content .mg form p:last-of-type{width: 320px;vertical-align: middle;padding-left: 130px;margin-top: -20px;}
.content .mg form p:last-of-type span{width: 20px;height: 20px;display: inline-block;background: url(../img/shop/check1.png) no-repeat;vertical-align: bottom;}
.content .mg form p:last-of-type span input{width: 20px;height: 20px;vertical-align: top;opacity: 0;}
.content .mg form p:last-of-type label{font-size: 18px;}
.content .mg form label{cursor: pointer;}
.content .mg form input[type="checkbox"]{width: 15px;height: 15px;border: 1px solid #CCCCCC;vertical-align: middle;border-radius: 0;}
.content .mg form span{margin: 0 10px;vertical-align: middle;font-size: 18px;}
.content .mg form a{margin: 0 10px;font-size: 18px;vertical-align: bottom;}
.content .mg form>a{width: 200px;height: 60px;background: #879d17;line-height: 60px;text-align: center;display: block;font-size: 30px;color: white;margin-top: 50px;margin-left: 520px;}
