.content .mg{width: 1160px;padding: 0 20px;}
.content h2{text-align: center;margin: 60px auto;}
.content h2 span{font-size: 30px;font-weight: normal;text-align: center;border-top:1px solid #879D17;border-bottom: 1px solid #879D17;display: inline-block;line-height:56px;padding: 0 30px;}

.content .slibebar{margin-right: 10px;}
.content .slibebar li{width: 170px;height: 50px;text-align: center;line-height: 50px;background: #879D17;color: white;}
.content .slibebar li.on{background: white;}
.content .slibebar li.on a{color: #879D17;}
.content .slibebar li.on span{background: #879D17}
.content .slibebar li:hover{background: white;}
.content .slibebar li:hover a{color: #879D17;}
.content .slibebar li:hover span{background: #879D17}
.content .slibebar li a{color: white;display: block;height: 50px;}
.content .slibebar li a span{width: 100px;height: 1px;display: block;background: white;margin: 0 auto;color: white;margin-top: -10px;}

.content .main{overflow: hidden;}
.content .main p:first-child{border-bottom: 1px solid #879D17;padding-left: 10px;}
.content .main p a.on{color: #879d17;}
.content .main p:first-child a:hover{color: #879D17;}

.content .main .prolist{padding-top: 30px;}
.content .main .prolist li{background: #879D17;padding: 6px;margin: 0 20px 10px 10px;position: relative;height: 275px;}
.content .main .prolist li>a img{position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: 2;transition: all 0.5s ease;}
.content .main .prolist li h4 a{font-size: 18px;color: white;text-align: center;display: block;}
.content .main .prolist li .text{position: absolute;width: 310px;height: 100%;right: 30px;padding-top: 15px;z-index: 1;top: 0;}
.content .main .prolist li .text h4{margin-bottom: 15px;}
.content .main .prolist li .text p{width: 300px;color: white;}
.content .main .prolist li .text>a{float: right;width: 70px;height: 20px;color: white;border: 1px solid white;text-align: center;line-height: 20px;margin-right: 30px;}
.content .main .prolist li:hover>a img{width: 560px;}
.content .main .page{margin-top: 70px;margin-bottom: 100px;clear: both;overflow: hidden;text-align: center;}
.content .main .page ul{display: inline-block;*display: inline;zoom: 1;}
.content .main .page li{float: left;font-size: 18px;}
.content .main .page li a{display: block;padding: 3px 10px;font-size: 18px;color: #879D17;border: 1px solid #879D17;margin: 0 14px;}
.content .main .page li a.on{background: #879D17;color: white;}
.content .main .page li:hover a{background: #879D17;color: white;}
.content .main .page input{width: 32px;height: 30px;text-align: center;line-height: 32px;border: 1px solid #879D17;padding: 0;font-size: 18px;color: #879D17;vertical-align: middle;}
.content .main .page li span{vertical-align: middle;margin-left: 10px;font-size: 18px;color: #879D17;}




