.about .title{
	height: 60px;
	line-height: 60px;
}
.about .title h3{
	margin: 0;
	line-height: 60px;
	font-size: 14px;
	font-family: '宋体';
	color: #666666;
}
.about .title h3 a{
	font-family: '宋体';
	font-size: 14px;
	color: #666666;
}
.about .bot{
	clear: both;
	overflow: hidden;
}
.userlert {
	padding: 0;
	overflow: hidden;
	background: #fff;
	margin-bottom: 20px;
	height: 700px;
}
.userright .main{
	overflow: hidden;
	background: #fff;
	height: 700px;
	margin-bottom: 30px;
}
.userlert .titletab{
	border-bottom: 1px solid #ccc;
	margin: 0 20px;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 6px;
	margin-bottom: 15px;
}
.userlert .titletab img{
	vertical-align: middle;
	margin-right: 10px;
}
.userlert .titletab b{
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}
.userlert ul li{
	margin: 0 1px;
	margin-bottom: 10px;
}
.userlert ul li a{
	font-size: 18px;
	display: block;
	border-left: 3px solid red;
	line-height: 50px;
	text-align: center;
	color: #333333;
	background: #f2f2f2;
}
.userright .main h3{
	font-size: 24px;
	border-bottom: 1px solid #ccc;
	margin: 0 20px;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.userright .main p{
	font-size: 16px;
	text-indent: 2em;
	margin: 0 40px;
	line-height: 24px;
	margin-bottom: 20px;
}
.userright iframe body{
	margin: 0;
}
.userright .contact p{
	font-size: 14px;
	text-indent: 0;
}








