.bg{
	background: #f2f2f2;
}

.help .title{
	height: 60px;
	line-height: 60px;
}
.help .title h3{
	margin: 0;
	line-height: 60px;
	font-size: 14px;
	font-family: '宋体';
	color: #666666;
}
.help .title h3 a{
	font-family: '宋体';
	font-size: 14px;
	color: #666666;
}
.help .bot{
	clear: both;
	overflow: hidden;
}
.help .userlert {
	padding: 0;
	overflow: hidden;
	background: #fff;
	margin-bottom: 20px;
	min-height: 700px;
}
.help .userright .main{
	overflow: hidden;
	background: #fff;
	margin-bottom: 30px;
	overflow: auto;
	min-height: 700px;
}
.help .userlert .titletab{
	border-bottom: 1px solid #ccc;
	margin: 0 20px;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 6px;
	margin-bottom: 15px;
}
.help .userlert .titletab img{
	vertical-align: middle;
	margin-right: 10px;
}
.help .userlert .titletab b{
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}
.help .userlert ul li{
	margin: 0 1px;
	margin-bottom: 10px;
}
.help .userlert ul li a{
	font-size: 18px;
	display: block;
	line-height: 50px;
	text-align: center;
	color: #333333;
	background: #f2f2f2;
	overflow: hidden;
}
.help .userlert ul li a.on{
	border-left: 3px solid red;
	background-color:#f8eeee;
	padding-right: 3px;
}
.help .userlert ul li a:hover{
	border-left: 3px solid red;
	background-color:#f8eeee;
	padding-right: 3px;
}
.help .userright .main{
	padding: 0 20px;
}
.help .userright .main>h3{
	font-size: 24px;
	border-bottom: 1px solid #ccc;
	margin: 0 20px;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.help .userright .main h4{
	font-size: 16px;
	color: #333;
	text-indent: 2em;
	font-family: "微软雅黑";
	line-height: 24px;
}
.help .userright .main p{
	font-size: 14px;
	line-height: 24px;
	color: #333;
	text-indent: 3em;
}
.help .userright .main h5{
	font-weight: bold;
	font-size: 14px;
	text-indent: 3em;
}
.help .userright .main p.on{
	text-indent: 4em;
}
.help .userright .main h6{
	font-size: 16px;
	line-height: 24px;
}






