.header{padding: 30px 0!important;}
.header .f_1 .channel{
	height: 45px;
    line-height: 45px;
    font-size: 23px;
    color: #666;
    border-left: 1px solid #e9e9e9;
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    margin-top: 2px;
    vertical-align: top;
    font-family: "微软雅黑";}
.wrapb{background-color:#ccc; height:600px;}
.wrapb .login-main{ margin:30px 0;
	width: 360px;
    background: #fff;
    padding: 15px 30px;
    float: right;}
.login-main .login-nav a{
	float: left;
    width: 150px;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    color: #666;
    font-family: "Microsoft YaHei";
    display: inline-block;
    border-bottom: 1px solid #e9e9e9;
    text-align:center;
    cursor:pointer;
}
.login-main .login-nav a.active{
	    height: 43px;
    line-height: 43px;
    color: #e61717;
    border-bottom: 2px solid #e61717;
}
.login-box .login-log, .login-box .login-reg{ padding-top: 30px;}
.login-main .element>em {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;}
.login-main .element {
    clear: both;
    padding: 10px 0;
    width: 300px;
    position: relative;
    z-index: 10;}
.icon-user{background:url(../images/ico-user.jpg) no-repeat;}
.icon-pass{background:url(../images/ico-pass.jpg) no-repeat;}
.login-main .f_l {
    border: 1px solid #dbdbdb;
    border-left: none;
    line-height: 18px;
    padding: 10px 5px;
    width: 260px;}
.pt_10 {padding-top: 10px;}
.logintip{margin:4px 0 4px; }
.jizhumima {float: left!important;}
.memory .jizhumima input{vertical-align: -2px; }
.memory .wangji{float:right; line-height:24px;}
.logintip #span_msg_tip{background:url(../images/error.gif) no-repeat;}
.logintip #span_msg_tip b{padding-left:20px; line-height:20px; color:#ff0000;}
.denglu{padding-bottom: 10px}
.denglu button{height: 40px;
    width: 100%;
    line-height: 20px;
    padding: 0;
    font-size: 16px;
    background: #ec2828;
    color: #fff;
    border: 1px solid #ec2828;
    border-radius:2px;
}
.login-main .login-hezuo a {
    background: url(../images/hezhuoico.png) no-repeat 0 0;
    width: 30px;
    height: 30px;
    float: left;
    display: block;
    margin-left: 5px;}
.clearfix{margin-top:4px;}
.login-hezuo a.icowx{background-position: -250px 0; margin-left: 0;}
.login-hezuo a.icoqq{background-position: 0 0;}
.login-hezuo a.icosina{background-position: -50px 0}
.icon-yanz{background:url(../images/ico-code.jpg) no-repeat;}
.yanzheng .f_l{width:140px;}
.yanzheng .fasong{float:right; display:block; 
	width:100px; 
	line-height:36px;
	text-align:center;
	color:#666;
	border:1px solid #ccc;
	border-radius:4px;
}
.xieyi{}
.xieyig {float: left!important;}
.xieyi .xieyig input{vertical-align:-2px; }
.yanzheng .shuryz{float:right; display:block; 
	width:100px; 
	height:36px;
	text-align:center;
}
.yanzheng .shuryz img{width:100%; height:100%;}
.hongk input{border-color:#ff0000!important;}
.hongk .icon-user{background:url(../images/ico-user-no.jpg) no-repeat;}
.hongk .icon-pass{background:url(../images/ico-pass-no.jpg) no-repeat;}
.hongk .icon-yanz{background:url(../images/ico-code-no.jpg) no-repeat;}
.hongk .fasong{border-color:#ff0000;}

.wpassword{position:fixed; width:100%; height:100%; top:0; left:0; z-index:99; display:none;}
.heizao{position:absolute; width:100%; height:100%;background-color:#000; opacity:0.5; z-index:99;}
.wjkt{position:absolute; top:25%; left:50%; margin-left:-250px; width:500px; height:300px; 
	background-color:#fff; z-index:999; padding:20px 2%;}
.kuank p{font-size:20px; line-height:40px; border-bottom:1px solid #ccc; margin:0 auto; text-align:center; margin-bottom:6px;}
.kuank .tiao{text-align:center;}
.kuank .tiao b{font-size:16px; line-height:36px; }
.kuank .tiao .shurk{
	border: 1px solid #dbdbdb;
    line-height: 18px;
    padding: 10px 5px;
    width: 260px;
}
.kuank .tiao{margin:20px 0;}
.kuank .tiao .erwei{width:160px;}
.kuank .tiao .fasyz{    display: inline-block;
    width: 90px;
    border: 1px solid #ccc;
    line-height: 37px;
    margin-left: 6px;}
.kuank .tiao .fasyz:hover{color:#ff0000;}

.xiayid button{height: 40px;
    width: 100%;
    line-height: 20px;
    padding: 0;
    font-size: 16px;
    background: #ec2828;
    color: #fff;
    border: 1px solid #ec2828;
    border-radius:2px;
}
.diyidu3 p{border:none; margin-top:60px;}
.bottom{padding:30px 0; border-top: 1px solid #999}
.bottom span{display:block; text-align:center;}
.bottom span a{display:inline-block; width:140px; font-size:16px; line-height:36px; color:#666;}
.bottom span b{font-size:16px; color:#666;}
.bottom p{font-size:16px; line-height:40px; text-align:center; color:#666; margin-top:20px;}

.registered_good{background-color:#fff; height:600px;}
.registered_good .regist_q{text-align:center; margin-top:120px;}
.registered_good .regist_q p{font-size:20px; line-height:40px; color:#000;}
.registered_good .regist_q b{font-size:20px; color:#999;}
.registered_good .regist_h{text-align:center;}
.registered_good .regist_h a{display:inline-block; text-align:center; margin:80px 50px;}












