.index_product{margin-top: 12px;margin-bottom: 15px;}
.index_product ul li{float: left;margin-right: 10px;margin-bottom: 5px;position: relative;}
.index_product ul li div{position: absolute;height: 70px;width: 100%;background: black;bottom: 0;padding-top: 5px;}
.index_product ul li div p{text-align: center;font-size: 12px;color: white;line-height: 18px;}
.index_product ul li div p .zhe{color: white;}
.index_product ul li div p span{color: #cbcbcb;font-size: 12px;}
.index_product ul li div .price{font-size: 14px;font-weight: bold;color: white;}
.index_product ul li div p .oldprice{text-decoration:line-through;}
.index_product ul li div img{position: absolute;right: 4px;bottom: 34px;}
.index_title{border-bottom: 1px solid black;}
.index_title .num{font-size: 30px;color: red;margin-left: 20px;font-family: "微软雅黑";font-weight: bold;}
.index_title .lei{font-size: 30px;color: #333333;font-family: "微软雅黑";font-weight: bold;}
.index_title .en{font-size: 18px;color: #cccccc;margin-left: 10px;font-family: "微软雅黑";font-weight: bold;}
.index_title .more{font-size: 12px;float: right;margin-right: 15px;margin-top: 18px;font-weight: bold;}

.index_product1 .main{border: 1px solid #CCCCCC;padding: 24px 16px;}
.index_product1 .main .left{border: 1px solid #CCCCCC;}
.index_product1 .main .nav{width: 110px;padding: 10px 20px;background: #32435d;}
.index_product1 .main .nav li{float: left;width: 50%;line-height: 34px;}
.index_product1 .main .nav li a{display: block;color: white;font-size: 12px;font-weight: bold;}
.index_product1 .main .nav .text-right{text-align: right;}
.index_product1 .main .nav .one{padding-right: 4px;}
.index_product1 .main .left img{max-width: 100%;}
.index_product1 .center{margin: 0 30px;position: relative;width: 387px;height: 387px;overflow: hidden;}
.index_product1 .center .bd{position: absolute;width: 387px;height: 387px;left: 0;top: 0;}
.index_product1 .center .bd li{position: absolute;width: 387px;height: 387px;overflow: hidden;}
.index_product1 .center .hd{position: absolute;text-align: center;bottom: 25px;width: 100%;}
.index_product1 .center .hd ul{display: inline-block;*display:inline;*zoom: 1;}
.index_product1 .center .hd li{float: left;width: 10px;height: 10px;margin: 0 10px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;background: white;cursor: pointer;}
.index_product1 .center .hd .active{background: red;}
.index_product1 .right{border: 1px solid #CCCCCC;width: 561px;}
.index_product1 .right ul li{float: left;}
.index_product1 .right p{line-height: 20px;}
.index_product1 .right li:last-child .box{position: relative;border: 1px solid #CCCCCC;}
.index_product1 .right li:first-child .box{position: relative;border: 1px solid #CCCCCC;}
.index_product1 .right li:last-child .box .text{position: absolute;right: 0;top: 50px;padding: 0;margin: 0;}
.index_product1 .right li:first-child .box .text{position: absolute;right: 0;top: 40px;padding: 0;margin: 0;}
.index_product1 .right li:first-child .box .text p{color: black;text-align: center;}
.index_product1 .right li:last-child .box .text p{color: black;text-align: center;}
.index_product1 .right li:first-child .box .text p a{font-size: 14px;}
.index_product1 .right li:last-child .box .text p a{font-size: 14px;}
.index_product1 .right li:first-child .box .text p span{color: #999999;font-size: 14px;}
.index_product1 .right li:last-child .box .text p span{color: #999999;font-size: 14px;}
.index_product1 .right li:first-child .box .text p .price{color: red;}
.index_product1 .right li:last-child .box .text p .price{color: red;}
.index_product1 .right .text{padding-right: 10px;margin-top:14px;height: 63px;}
.index_product1 .right .text p{color: black;text-align: center;}
.index_product1 .right .text p span{color: #999999;font-size: 14px;}
.index_product1 .right .text p a{font-size: 14px;}
.index_product1 .right .text p .price{color: red;}
.index_product1 .right li:last-of-type img{height: 190px;width: 165px;}
.index_product1 .right li:last-of-type .text{top: 50px;}
.bd_title{margin: 58px 0;}
