.regit{margin: 0 250px;}
.regit img{float: left;margin-top: 55px;}
.regit .form{width: 266px;margin-top: 38px;}
.regit .form h3{font-size: 18px;font-weight: normal;font-family: "微软雅黑";border-bottom: 2px solid #CCCCCC;padding-bottom: 20px;}
.regit .form h3 a{color: #ff0033;font-size: 18px;font-family: "微软雅黑";}
.regit .form input{width: 95%;height: 30px;line-height: 30px;margin-top: 17px;border: 1px solid #CCCCCC;}
.regit .form .code{width: 112px;}
.regit .form .getcode{width: 115px;height: 32px;border: none;color: white;line-height: 32px;text-align: center;background: #cc3366;cursor: pointer;}
.regit .form input[type="checkbox"]{width: 15px;height: 15px;vertical-align:middle;border: none;margin-top: 0;cursor: pointer;}
.regit .form button{width: 113px;height: 28px;text-align: center;border: 1px solid #c6763c;background: #ff0327;color: white;font-size: 18px;margin-top: 16px;cursor: pointer;font-family: "微软雅黑";}
.regit .form p{padding-top: 13px;}
.regit .form p label{vertical-align: middle;cursor: pointer;}
.login .form .free{color: red;}
.login .form .submit{width: 264px;border: 1px solid #cc0000;background: #ff0000;color: white;font-size: 18px;line-height: normal;font-family: "微软雅黑";cursor: pointer;}
.login .form h3 a{color: #333333;}
.login .form div.ov{padding-top: 13px;}
.login .form form ul{margin-right: -24px;margin-top: 3px;overflow: hidden;}
.login .form form li{float: left;margin-right: 22px;width: 50px;}
.login .form form li img{float: none;margin: 0 auto;}
.login .form form li p{text-align: center;padding: 0;}
