.content .left{margin-left: 28px;margin-top: 30px;}
.content .left div{padding: 0 30px 12px 10px;border: 1px solid #CCCCCC;margin-top: 4px;width: 110px;}
.content .left div dt{line-height: 38px;border-bottom: 1px solid #CCCCCC;color: #666666;font-weight: bold;}
.content .left div dd{line-height: 26px;}
.content .left div dd a{color: #666666;display: block;}
.content .left div dd a.active{color: red;}
.content .left div dd a:hover{color: red;}
.member_center .right{margin-top: 51px;margin-left: 20px}
.member_center .right .center_top{;border: 1px solid #CCCCCC;padding: 10px 30px 10px 40px;width: 830px;}
.member_center .right img{float: left;}
.member_center .right div.fl{margin-left: 46px;padding-top: 20px;}
.member_center .right .center_top ul{width: 808px;clear: both;overflow: hidden;margin-right: -163px;}
.member_center .right .center_top div li{float: left;width: 95px;margin-right: 173px;line-height: 30px;}
.member_center .right .center_top div li div{width: 300px;}
.member_center .right .center_top div li .fen1{width: 86px;height: 14px;border: 1px solid red;display: inline-block;vertical-align: text-bottom;}
.member_center .right .center_top div li .fen2{width: 71%;height: 14px;background: red;display: inline-block;vertical-align: top;}
.member_center .right .center_main{border: 1px solid #CCCCCC;margin-top: 13px;padding-left: 34px;padding-right: 45px;}
.member_center .right .center_main>p{font-size: 18px;font-family: "微软雅黑";margin-bottom: 26px;margin-top: 13px;}
.member_center .right .center_main ul{margin-right: -40px;overflow: hidden;}
.member_center .right .center_main li{float: left;margin-right: 40px;width: 175px;}
.member_center .right .center_main li img{margin: 0 auto;}
.member_center .right .center_main li p{text-align: center;line-height: 40px;}

.myorder .right{margin: 58px 40px 0 40px;}
.myorder .right .myorder_h ul{border-bottom: 1px solid #CCCCCC;}
.myorder .right .myorder_h li{float: left;width: 90px;line-height: 26px;margin-right: 66px;}
.myorder .right .myorder_h li a{font-size: 14px;font-weight: bold;display: block;padding-left: 5px;}
.myorder .right .myorder_h li a.active{border-bottom: 1px solid red;}
.myorder .right .myorder_b{padding: 18px 24px 24px;margin-top: 20px;border: 1px solid #CCCCCC;margin-right: 8px;}
.myorder .right .myorder_b span{font-size: 14px;}
.myorder .right .myorder_b input{width: 155px;height: 20px;border: 1px solid #CCCCCC;line-height: 20px;}
.myorder .right .myorder_b input[type="submit"]{width: 46px;height: 20px;background: red;color: white;text-align: center;border: none;line-height: 20px;cursor: pointer;}
.myorder .right .myorder_b select{width: 80px;height: 20px;border: 1px solid #000000;padding-left: 5px;}

.right .myorder_f{margin-top: 35px;margin-right: 8px;border: 1px solid #CCCCCC;}
.right .myorder_f span.one1{font-size: 14px;color: black;font-weight: bold;margin-left: 20px;line-height: 50px;}
.right .myorder_f span.one2{font-size: 14px;color: black;margin-left: 150px;}
.right .myorder_f ul{padding-bottom: 15px;}
.right .myorder_f ul li{margin-right: -100px;overflow: hidden;}
.right .myorder_f ul li div.fl:first-child{width: 337px;}
.right .myorder_f ul li div.two{width: 253px!important;}
.right .myorder_f ul li div.fl{width: 170px;}
.right .myorder_f ul li{padding: 10px 50px;clear: both;overflow: hidden;border-top: 1px solid #CCCCCC;}
.right .myorder_f ul li img{float: left;margin-right: 20px;}
.right .myorder_f ul li .p1{margin-top: 17px;}
.right .myorder_f ul li .newprice{margin-top: 20px;font-size: 14px;}
.right .myorder_f ul li .oldprice{font-size: 14px;text-decoration: line-through;}
.right .myorder_f ul li .payorder{width: 93px;height: 26px;line-height: 26px;background: red;color: white;display: block;text-align: center;font-size: 14px;margin-top: 18px;}
.right .myorder_f ul li .cancel{width: 93px;height: 26px;line-height: 26px;background: white;display: block;text-align: center;font-size: 14px;}
.right .myorder_f ul li .last{margin-top: 25px;}
.right .myorder_f ul li .last a{font-size: 14px;}

.evaluate .right{margin-top: 51px;margin-left: 20px;width: 902px;}
.evaluate .right h3{font-size: 20px;font-family: "微软雅黑";border-bottom: 1px solid #CCCCCC;padding-bottom: 10px;}
.evaluate .evaluate_h{height: 30px;background: #CCCCCC;margin-top: 20px;}
.evaluate .evaluate_h p{line-height: 30px;padding-left: 10px;font-family: "微软雅黑";font-size: 14px;}
.evaluate .evaluate_h span{line-height: 30px;font-family: "微软雅黑";font-size: 14px;margin-right: 10px;}
.evaluate .evaluate_h input{vertical-align: text-bottom;}
.evaluate .evaluate_b{border: 1px solid #CCCCCC;}
.evaluate .evaluate_b p.th{line-height: 26px;border-bottom: 1px solid #CCCCCC;font-size: 14px;font-family: "微软雅黑";margin: 0 20px;}
.evaluate .evaluate_b p.th span{font-size: 14px;font-family: "微软雅黑";}
.evaluate .evaluate_b .baby{margin-right: 382px;margin-left: 20px;font-size: 14px;font-family: "微软雅黑";}
.evaluate .evaluate_b div span{margin-left: 20px;}
.evaluate .evaluate_b img.fl{margin-top: 20px;margin-left: 20px;}
.evaluate .evaluate_b div.fl{margin-top: 40px;}
.evaluate .evaluate_b div.fl p{font-size: 14px;}
.evaluate .evaluate_b div.fl span{font-size: 14px;}
.evaluate .evaluate_b div.fr{width: 50%;margin-top: 40px;position: relative;}
.evaluate .evaluate_b div.fr textarea{width: 91%;height: 170px;resize: none;overflow-y: auto;border: 1px solid #CCCCCC;margin-top: 10px;margin-bottom: 10px;}
.evaluate .evaluate_b div.fr p{position: absolute;bottom: 15px;left: 5px;font-size: 14px;}
.evaluate .evaluate_b div.fr p span{margin: 0;color: red;font-size: 14px;}
.evaluate .evaluate_b ul li{float: left;margin-right: 10px;}
.evaluate .evaluate_b ul li a{width: 21px;height: 21px;background: url(../images/shop/xing1.png) no-repeat;display: block;}
.evaluate .evaluate_b div.one{margin-top: 10px;padding: 17px 0 0 10px;border-top: 1px solid #CCCCCC;margin-left: 20px;margin-right: 20px;}
.evaluate .evaluate_b .two{padding-left: 30px;padding-top: 5px;}
.evaluate .evaluate_b a.fabiao{width: 170px;height: 46px;display: block;text-align: center;line-height: 46px;background: red;color: white;margin: 10px auto;font-size: 18px;font-family: "微软雅黑";border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
.evaluate .evaluate_b span{font-size: 14px;};


.content .left div dd a.active{color: red;}


.order_detail .right{border: 1px solid #CCCCCC;width: 900px;margin-left: 20px;margin-top: 51px;}
.order_detail .right .right_h{padding: 15px;border-bottom: 1px solid #CCCCCC;margin: 0 20px;}
.order_detail .right .right_h img{display: inline;vertical-align: bottom;}
.order_detail .right .right_h h3{font-size: 24px;font-family: "微软雅黑";line-height:30px;}
.order_detail .right .right_h a{font-size: 14px;}
.order_detail .right .right_t{margin-top: 20px;margin-left: 20px;margin-right: 20px;padding-left:10px;padding-top: 10px;padding-bottom: 10px;background: #f0f0f0;}
.order_detail .right .right_t p{font-family: "微软雅黑";}
.order_detail .right .right_t span{font-family: "微软雅黑";}
.order_detail .right .right_t h3{font-size: 16px;font-family: "微软雅黑";}
.order_detail .right .right_t p{font-size: 14px;line-height: 30px;}
.order_detail .right .right_t span{line-height: 30px;font-size: 14px;}
.order_detail .right .right_t span.time1{margin-right: 100px;}

.order_detail .right .right_c{margin-top: 20px;margin-left: 20px;padding-left: 10px;margin-right: 20px;}
.order_detail .right .right_c h3{font-size: 16px;font-family: "微软雅黑";line-height:30px;}
.order_detail .right .right_c p.one{padding-left: 63px;}
.order_detail .right .right_c p{font-size: 14px;font-family: "微软雅黑";}
.order_detail .right .right_c span{font-size: 14px;font-family: "微软雅黑";}
.right .right_b .myorder_f ul li div.fl:first-child{width: 226px;}
.right .right_b .myorder_f{margin-left: 20px;margin-right: 20px;margin-top: 10px;}
.right .right_b h3{font-size: 16px;font-family: "微软雅黑";padding-left: 30px;margin-top: 20px;line-height:30px;}
.right .right_b .myorder_f ul li div.three{padding-top: 25px;}
.right .right_b .myorder_f span.one1{margin-left: 70px;font-size: 14px;}
.right .right_b .myorder_f span.one3{margin-left:200px;}
.right .right_b .myorder_f span.one4{margin-left:163px;}
.right span.fr{font-size: 16px;font-family: "微软雅黑";margin:10px 20px;}
.right span.fr span{font-size: 18px;font-family: "微软雅黑";color: red;}


/*addressadd*/
.addressadd .right {margin-left:70px;width: 750px;}
.addressadd .right p{color: black;}
.addressadd .right form{padding-left: 30px;padding-top: 20px;}
.addressadd .right input{width: 100px;border: 1px solid #CCCCCC;margin-bottom: 10px;}
.addressadd .right form span{display: inline-block;width: 75px;color: black;vertical-align: top;}
.addressadd .right form input[type=submit]{background: red;color: white;width: 50px;height: 18px;border: none;margin-left: 136px;cursor: pointer;}
.addressadd .right button{float: right;width: 90px;height: 34px;background: red;color: white;border: none;cursor: pointer;}
.addressadd .right h3{float: left;width: 70px;margin-left: 20px;border-bottom: 1px solid red;line-height: 36px;font-weight: normal;color: black;padding-left: 6px;}
.addressadd .right .ov{border: 1px solid #CCCCCC;padding: 20px 0px 40px 46px;}
.addressadd .right .ov .ad_h span{margin: 0 46px;}
.addressadd .right .ov .ad_h span:first-child{margin: 0;color: black;}
.addressadd .right .ov ul li{float: left;margin-top: 37px;}
.addressadd .right .ov ul li p{width: 112px;}
.addressadd .right .ov ul li p.on{width: 75px;margin-right: 50px;}
.addressadd .right .ov ul li p.on1{width: 110px;margin: 0 20px;}
.addressadd .right .ov ul li p.on2{margin: 0 33px 0 17px;}


.password .right{margin-left: 70px;padding-top: 45px;}
.password .right h3{font-family: "微软雅黑";font-size: 18px;font-weight: normal;margin-top: 45px;}
.password .right .fl {position: relative;width: 150px;margin-left: 55px;margin-top: 45px;}
.password .right .fl img{cursor: pointer;}
.password .right .fl a{position: absolute;bottom: 25px;width: 133px;height: 30px;background: rgba(0,0,0,0.4);color: white;font-size: 14px;font-family: "微软雅黑";text-align: center;line-height: 30px;left: 3px;}
.password .right .fl p{padding-left: 20px;font-size: 14px;font-family: "微软雅黑";color: #666666;}
.password .right .fl p span{font-size: 14px;color: #e76c12;font-family: "微软雅黑";}
.password .right .form{float: left;margin-left: 40px;}
.password .right .form span{color: #999999;font-size: 14px;font-family: "微软雅黑";display: inline-block;width: 82px;text-align: right;}
.password .right .form span span{color: red;font-size: 14px;font-family: "微软雅黑";margin-right: 4px;display: inline;width: auto;}
.password .right .form input{width: 148px;height: 20px;border: 1px solid #bcbcbc;margin-left: 5px;line-height: 20px;}
.password .right .form b{font-weight: normal;color: #e76c12;margin-left: 3px;}
.password .right .form .item{margin-bottom: 20px;}
.password .right .form .item span.on{font-size: 12px;margin: 0 4px;display: inline;width: auto;}
.password .right .form .item .change{color: #1b2cd4;}
.password .right .form .item .yzm{display: inline-block;width: 55px;height: 20px;border: 1px solid #bcbcbc;color: #b22222;line-height: 20px;background: white;text-align: center;margin: 0 10px;}
.password .right .form input[type=submit]{width: 116px;height: 44px;background: red;color: white;border: none;font-size: 18px;font-family: "微软雅黑";margin-top: 25px;margin-left: 100px;}


.messagedetail .right{margin: 58px 17px 0 35px;width: 960px;}
.right .msgh{background: #cccccc;width: 100%;height: 40px;line-height: 40px;}
.right .msgh a{width: 56px;height: 26px;display: inline-block;background: #f4f4f4;color: #2e3031;border: 1px solid #322a2a;text-align: center;line-height:26px;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;margin-left:55px;box-shadow: 1px 1px #2E3031;}
.messagedetail .right .msgb{padding-left: 30px;}
.messagedetail .right .msgb h3{font-size: 18px;font-family: "微软雅黑";color: #ff3333;margin-top: 20px;}
.messagedetail .right .msgb p.one{color: #86878a;margin-top: 20px;padding: 0;}
.messagedetail .right .msgb p span{color: #cc0000;text-decoration: underline;}
.messagedetail .right .msgb p a{color: #cc0000;text-decoration: underline;}
.messagedetail .right .msgb p{padding-left: 3px;word-break: break-all;width: 756px;}
.messagedetail .right .msgb p.two{text-indent: 3em;}


.payerror .main{padding: 220px 400px 320px 260px;}
.payerror .main img{display: inline;}
.payerror .main div{margin-left: 20px;}
.payerror .main div h3{font-size: 48px;font-family: "微软雅黑";font-weight: normal;}
.payerror .main div span{font-size: 18px;font-family: "微软雅黑";margin-right:8px;}

.message .right{margin-top: 58px;margin-left: 35px;border: 1px solid #CCCCCC;width: 943px;padding: 0 20px 7px 20px;}
.message .right>span:first-child{font-family: "微软雅黑";font-size: 18px;color: #ff0000;margin-left: 30px;margin-right: 10px;display: inline-block;margin-bottom: 12px;}
.message .right>b:first-of-type{font-weight: normal;}
.message .right .msgb .one{width: 200px;text-align: center;padding-top: 8px;padding-bottom: 30px;}
.message .right .msgb .two{width: 540px;text-align: center;padding-top: 8px;padding-bottom: 30px;}
.message .right .msgb .three{text-align: center;padding-top: 8px;padding-bottom: 30px;color: #2e3031;width: 203px;}
.message .right .msgb ul .one{text-align: left;padding: 0;}
.message .right .msgb ul .two{padding: 0;text-align: left;padding-left: 155px;width: 385px;}
.message .right .msgb ul .three{padding: 0;}
.message .right .msgb ul .one div{display: inline-block;width: 15px;height: 15px;background: url(../images/shop/check5.png) no-repeat;margin-left: 15px;margin-right: 44px;margin-top: 5px;}
.message .right .msgb ul .one div input{opacity: 0;filter: alpha(opcity=0);}
.message .right .msgb ul p{line-height: 27px;}
.message .right .msgb ul .two p a{color: #979899;}
.message .right .msgb ul .three p a{color: #979899;}
.message .right .msgb ul li{background: #e7e7e7;clear: both;overflow: hidden;padding: 6px 0;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;margin: 26px 0;}
.message .right .fr li{float: left;}
.message .right .fr li a{display: block;padding:5px 14px;border: 1px solid #CCCCCC;color: #463737;}
.message .right .fr li span{display: block;padding: 4px 7px;color: #463737}
.message .right .fr li b{font-weight: normal;padding: 6px 6px;display: block;color: #463737}
.message .right .fr li input{width: 35px;height: 24px;border: 1px solid #CCCCCC;padding: 0;text-align: center;}
.message .right .fr li a.active{background: #ececec;}

.data .right .form .item{font-size: 14px;font-family: "微软雅黑";color: #666666;}
.data .right .form input{margin-left: 0;color: #666666;}
.data .right .form input[type="radio"]{width: auto;height: auto;margin: 0px 5px;border: none;}
.data .right .form label{vertical-align: top;color: #666666;}
.data .right .form .item a{color: #1225dc;vertical-align: middle;margin-left: 15px;}
.data .right .form span{margin-right: 16px;}
.data .right .form .sex{margin-right: 10px;}
.data .right .form .item .change{margin: 0;}
.data .right .form .item .name{width: 356px;height: 20px;margin-left: 102px;margin-top: 10px;}
.data .right .form .item select{appearance: none;-webkit-appearance: none;-moz-appearance: none;width: 110px;height: 20px;border: 1px solid #CCCCCC;background: url(../images/shop/se.png) no-repeat right center;padding-left: 10px;margin-right: 15px;}
.data .right .form span b{margin-right: 3px;}
.data .right .form input[type="submit"]{width: 280px;height: 44px;margin-top: 0;margin-left: 102px;}
.data .right .form .item i{font-style: normal;color: #e76c12;}

.footer{margin-top: 20px;}