.msg .center ul{overflow: hidden;margin-right: -30px;margin-bottom: 34px;}
.msg .center ul li{float: left;margin-right: 30px;}
.msg .center p{color: #333333;text-align: left;text-indent: 2em;margin-bottom: 20px;}














