/*引用百度地图API*/
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

.msg .center .contact_text{float: left;width: 549px;margin-top: -6px;}
.msg .center .contact_text h3{text-align: left;font-size: 24px;color: #333333;line-height: 53px;}
.msg .center .form{width: 528px;float: left;padding-left: 21px;}
.msg .center form{font-size: 24px;color: #333333;text-align: left;}
.center .form .name,.phone{line-height: 24px;width: 450px;height: 24px;background: #9bb7ee;border: none; outline: none;text-align: left;padding-left: 6px;}
.center .form .msg{text-align: left;width: 450px;height: 133px;background: #9bb7ee;resize: none;padding: 0;vertical-align: text-top;border: none;padding-left: 6px;}
.center .form .submit{cursor: pointer;width: 155px;height: 24px;background: #547ccb;color: white;line-height: 24px;margin-top: 15px;margin-left: 70px;border: none;}
.center .form .reset{cursor: pointer;width: 155px;height: 24px;background: #547ccb;color: white;line-height: 24px;margin-top: 15px;margin-left: 140px;border: none;}