.content .banner{width: 100%;overflow: hidden;position: relative;margin-bottom: 42px;height: 660px;text-align: left;}
.banner .bd{position: absolute;width: 100%;height: 660px;left: 0;top:0;}
.banner .bd ul{text-align: left;}
.banner .bd li{width: 100%;position: absolute;height: 660px;overflow: hidden;top:0;}
.banner .bd li a{position:absolute;width: 1920px;height: 660px;left: 50%;margin-left: -960px;}
.banner .bd img{display: block;}
.banner .hd{left: 0; width: 100%;text-align: center;position: absolute;bottom: 16px;}
.banner .hd ul{display:inline-block;*display:inline;*zoom:1;}
.banner .hd li{float: left;width: 16px;height: 15px;background:url("../images/index/yuan1.png"); margin: 0 10px;cursor: pointer;display: inline;}
.banner .hd .on{background:url("../images/index/yuan2.png")}

.index_title h1{font-size: 36px;font-weight: 500;background: url("../images/index/line3.jpg");line-height: 50px;}
.index_title h2{font-size: 24px;font-weight: 500;}
.index_about{margin-bottom: 105px;}
.index_about .main{margin-top: 44px;height: 344px;}
.index_about .left_img{float: left;}
.index_about .right_text{width: 560px;height: 340px;float: right;}
.index_about .right_text h3{font-size: 24px;font-weight: 500;text-align: left;color: #666666;}
.index_about .right_text p{margin-top: 34px;margin-bottom:28px;text-align: left;color: #666666;text-indent: 2em;line-height: 24px;}
.index_about .right_text a{float:left;width: 106px;height: 28px;display:block;background:#3c65b7;color: white;text-align: center;line-height: 28px;}

.index_news{margin-bottom: 57px;}
.index_news .main{margin-top: 28px;height: 418px;}
.index_news .main ul{margin-right: -78px; overflow: hidden;}
.index_news .main li{float: left;height: 418px;width: 348px;margin-right: 78px;overflow: hidden;}
.index_news .main li .box{display: block;height: 418px;}
.index_news .main li .box div{clear: both;height: 126px;margin-top: 20px;position: relative;padding:24px 10px 0 10px;}
.index_news .box div h4 a{text-align: left;display: inline;float: left;font-size: 18px;color: #333333;margin-bottom: 20px;}
.index_news .box a span{float:right;font-size: 16px;color: #333333;font-weight: 600;margin-top: 5px;}
.index_news .box div p{clear: both;overflow: hidden;text-align: left;}
.index_news .box div p a{text-align: left;color: #666666;width: 327px;font-size: 14px;font-weight: normal;}
.index_news .main li .box:hover a,.index_news .main li .box:hover a,.index_news .main li .box:hover span{color: white;}

.index_product{margin-bottom: 50px;}
.index_product .main{clear: both;overflow: hidden;}
.index_product .title{width: 952px;margin: 45px auto 30px auto;}
.index_product .title a{height: 32px;display: inline-block;margin: 0 91px;font-size: 18px;}
.index_product .title .on{background: url("../images/index/line4.jpg");}
.index_product .title .on2{background: url("../images/index/line5.jpg");}
.index_product .title .on3{background: url("../images/index/line6.jpg");}
.index_product .pic{position: relative;height: 746px;}
.index_product .pic ul{margin-right: -50px;overflow: hidden;}
.index_product .pic li{float: left;width: 262px;margin-right: 50px;overflow: hidden;}
.index_product .pic .box{border: 1px solid #959595;position: relative;}
.index_product .pic .box:hover{border:1px solid #1e1eff;}
.index_product .pic li .box{overflow: hidden;width: 260px;}
.index_product .pic .pro1{position: absolute;left: 100px;top: 315px;left: 312px;}
.index_product .pic .pro2{position: absolute; top: 355px; left: 624px;}
.index_product .pic .pro3{position: absolute; top: 414px; left: 0px;}
.index_product .pic .pro4{position: absolute; top: 445px; left: 936px;}
.index_product .pic li img{width: 260px;height: auto;}
.index_product .pic li .box div{width: 260px; height: 52px; background: #c3cfe9;opacity: 0.8;filter: alpha(opacity=80);display: none;padding-top: 28px;position: absolute;bottom: 0;left: 0;}
.index_product .pic li h3 a{color: white;}
.index_product .pic li span a{color: red;}

.index_contact .main{margin-top: 70px;margin-bottom: 87px;}
.index_contact form {font-size: 18px;color: #333333;text-align: left;}
.index_contact .main .name{margin-right: 70px;width:476px;background: #9bb7ee;height: 36px;border: none;text-align: left;padding-left: 6px;vertical-align: text-top;line-height: 36px;}
.index_contact .main .email{line-height: 36px;width: 528px;height: 36px; background: #9bb7ee;vertical-align: text-top;text-align: left;border: none;padding-left: 6px;}
.index_contact .main .msg{width: 1140px;height: 82px;background: #9bb7ee;resize: none;padding: 0 0 0 6px;text-align: left;margin-top: 50px;vertical-align: middle;border: none;}
.index_contact .main .submit{cursor: pointer;width: 190px;height: 35px;background: #547ccb;font-size: 18px;color: white;border: none;margin-left: 54px;margin-top: 56px;}
.index_contact .main .reset{cursor: pointer;width: 190px;height: 35px;background: #547ccb;font-size: 18px;color: white;border: none;margin-left: 760px;}




