.container {overflow: hidden;}
.container p.address{margin: 20px 0;}
.container p.address span{color: #cf231e;}
.container .sidebar{float: left;width: 156px;border: 1px solid #dddddd;margin-right: 45px;}
.container .sidebar h3{width: 100%;height: 48px;background: #eeeeee;text-align: center;line-height: 48px;font-size: 18px;}
.container .sidebar li h4{font-size: 18px;padding-left: 40px;cursor: pointer;height: 34px;border-top: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD;line-height: 34px;font-weight: normal;background: url(../img/user/san.jpg) no-repeat right 21px center;}
.container .sidebar li ol{padding: 10px 0;}
.container .sidebar li ol li a{font-size: 16px;color: #999999;display: block;padding-left: 40px;line-height: 27px;}
.container .sidebar li ol li.active a,.container .sidebar li ol li a:hover{color: #cf231e;}

.container .main{overflow: hidden;}
.container .main .top{

}
.container .main .top h1{
	height: 34px; 
	background-color: #e5e5e5;
	font-size: 16px;
	line-height: 34px;
	color: #000000;
	padding-left: 35px;
	font-weight: 100;
}
.container .main .top ul {
	overflow: hidden;
	display: block;
	margin-top: 20px;
	margin-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
}
.container .main .top ul li{
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	padding-left: 35px;
}
.container .main .top ul li a{
	display: block;
	height: 32px;
}
.container .main .top ul li a img{
	display: block;
	float: left;
	margin-top: 5px;
}
.container .main .top ul li label{
	display: block;
	float: left;
	line-height: 26px;
	font-size: 14px;
	margin-right: 20px;
}
.container .main .top ul li label input{
	vertical-align: middle;
	margin-right: 10px;
	
	vertical-align: middle;
	background-color: #FFFFFF;
	-webkit-appearance: none;
	appearance: none;
	margin-right: 6px;
	width: 14px;
	height: 14px;
	border: 1px solid #6b6b6b;
	cursor: pointer;
  	position: relative;
  	margin-top: -5px;
}
.container .main .top ul li label input:checked:after{
	display: block;
	content: url(../img/base/gou.png);
  	position: absolute;
  	top: -4px;
  	left: 1px;
  	z-index: 2;
}
.container .main .top .a{
	display: block;
	width: 136px;
	height: 36px;
	border: 1px solid #a0a0a0;
	line-height: 36px;
	text-align: center;
	border-radius:5px ;
	font-size: 18px;
	color: #000000;
	margin-top: 44px;
	margin-left: 30px;
	margin-bottom: 20px;
}
.container .main .top .a b{
	font-weight: 800px;
	font-size: 18px;
	color: #000000;
	line-height: 36px;
	
}
.container .main .form{
	padding: 30px;
	border: 3px solid #EEEEEE;
	/*height: 500px;*/
	margin-bottom: 66px;
}
.container .main .form p{
	margin-bottom: 28px;
	overflow: hidden;
}
.container .main .form p span{ 
	display: block;
	float: left;
	width: 80px;
	font-size: 14px;
	color: #000000;
	line-height: 34px;
	height: 34px;
}
.container .main .form p select{
	
}
.container .main .form p select:nth-last-child(1) {
	display: block;
	float: left;
	width: 140px;
	height: 32px;
	padding-left: 20px;
}
.container .main .form p select:nth-last-child(2) {
	display: block;
	float: left;
	width: 110px;
	height: 32px;
	margin-right: 10px;
	padding-left: 15px;
}
.container .main .form p textarea{
	padding-top: 5px;
	display: block;
	float: left;
	width: 250px;
	height: 70px;
	resize:none;
}
.container .main .form p input[type=text]{
	width: 150px;
	height: 32px;
}
.container .main .form p label input[type=checkbox]{
	
	vertical-align: middle;
	background-color: #FFFFFF;
	-webkit-appearance: none;
	appearance: none;
	margin-right: 6px;
	width: 14px;
	height: 14px;
	border: 1px solid #6b6b6b;
	cursor: pointer;
  	position: relative;
  	margin-top: -5px;
}
.container .main .form p label input[type=checkbox]:checked:after{
	display: block;
	content: url(../img/base/gou.png);
  	position: absolute;
  	top: -4px;
  	left: 1px;
  	z-index: 2;
}
.container .main .form p a{
	display: block;
	float: left;
	width: 120px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	border-radius:5px ;
}
.container .main .form p a:nth-child(1){
	background-color: #cf231e;

}
.container .main .form p a:nth-child(2){
	background-color: #606060;
	margin-left: 77px;
}
