body{min-height: 1678px;}
section .banner{height: 210px;}

section .sidebar{height: 585px!important;}

.main{overflow: hidden;}
.main .top{background: #406690;clear: both;overflow: hidden;height: 33px;}
.main .top>h3{float: left;font-size: 14px;color: white;margin-left: 50px;line-height: 33px;}
.main .top form{float: right;font-size: 14px;margin-right: 24px;}
.main .top form span{font-size: 14px;color: white;vertical-align: middle;line-height: 33px;}
.main .top form input{width: 164px;height: 20px;background: white;border: 1px solid #a9a9a9;vertical-align: middle;margin-left: 10px;line-height: 20px;}
.main .top form span +input+input{width: 60px;}
.main .top form input[type="submit"]{width: 56px;height: 23px;font-size: 14px;text-align: center;color: #333333;margin-top: -1px;background: #eae9e9;border: 1px solid #a9a9a9;line-height: 17px;}

.main>ul li{width: 33.3%;background: url(../img/product/bg1.png) no-repeat right bottom;padding: 20px 0;float: left;overflow: hidden;text-align: center;}
.main>ul li:first-child+li+li{background: none;}
.main>ul li:first-child+li+li+li+li+li{background: none;}
.main>ul li img{display: inline;width: 260px;height: 200px;}
.main>ul li>a:first-child{display: block;width: 100%;overflow: hidden;height: 200px;}
.main>ul li img:hover{opacity: 0.6;filter: alpha(opacity=60);transition: all 0.8s ease;}
.main>ul li h3{margin-bottom: 18px;margin-top: 10px;text-align:left;}
.main>ul li h3 a{font-size: 18px;color: #3298ca;padding-left: 23px;}
.main>ul li h4{margin-bottom: 17px;text-align:left;}
.main>ul li h4 a{font-size:14px;color: #666666;padding-left: 23px;}
.main>ul li p{color: #999999;height: 53px;overflow: hidden;width: 250px;padding-left: 23px;text-align:left;}
.main>ul li>a.more{width: 60px;height: 20px;display: block;margin: 0 auto;line-height: 20px;text-align: center;background: -webkit-linear-gradient(white, #a1a1a1);background: -o-linear-gradient(white, #a1a1a1);background: -moz-linear-gradient(white, #a1a1a1);background: linear-gradient(white, #a1a1a1);-pie-background:linear-gradient(white, #a1a1a1); behavior:url(css/PIE.htc);position: relative;}

.sidebar ul{background: #e2e5e8;}
/*.sidebar ul>li:last-child{padding-bottom: 50px;background: #e2e5e8;}*/
/*.sidebar
 *  ul>li:last-child>a{height: 55px;}*/
/*.sidebar ul>li.active a.one{background: #f1f2f4!important;color: #0a4390!important;box-shadow: 0px 5px 9px #2d4765;-webkit-box-shadow:0px 5px 9px #2d4765;-moz-box-shadow: 0px 5px 9px #2d4765;width: 226px;border-right: 9px solid #ffae00!important;behavior: url(css/PIE.htc);position: relative;}*/
