 <ion-tabs class="footer tabs-icon-top">

	<ion-tab title="逛逛" icon-on="ion-bag" icon-off="ion-bag"  href="#/app/product">
		<ion-nav-view name="tab-pro"></ion-nav-view>
	</ion-tab>

	<ion-tab title="分类" icon-on="ion-ios-keypad-outline" icon-off="ion-ios-keypad-outline" href="#/app/prosort">
		<ion-nav-view name="tab-sort"></ion-nav-view>
	</ion-tab>

	<ion-tab title="首页" icon-on="ion-ios-box-outline" icon-off="ion-ios-box-outline" href="#/app/homepage">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="购物车" icon-on="ion-ios-cart-outline" icon-off="ion-ios-cart-outline" href="#/app/shopcar">
		<ion-nav-view name="tab-shopcar"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我" icon-on="ion-ios-person-outline" icon-off="ion-ios-person-outline" href="#/app/user">
		<ion-nav-view name="tab-user"></ion-nav-view>
	</ion-tab>
</ion-tabs>
