html
  width 100%
  height 100%
  body
    height 100%
    background #efeff4
    font-size .20rem
    color #333
    .padding
      padding-bottom 55px
    .pad_top
      padding-top 0.8rem
    .pad_bottom
      padding-bottom 55px
    .p_s
      padding .15rem 0
    .p_h
      padding 0 .15rem
    .p_all
      padding .15rem
    .bg_white
      background white
    h1,h2,h3,h4,h5,h6
      font-weight normal
    a
      color #333
      display inline-block
      outline none
    i
      font-style normal
    input,button,select
      outline none
    .mt_10
      margin-top .1rem
    .mt_20
      margin-top .2rem
    .mb_10
      margin-bottom .1rem
    .mb_20
      margin-bottom .2rem
    .b_s
      border-top .01rem solid #f2f2f2
      border-bottom .01rem solid #f2f2f2
    .b_h
      border-left .01rem solid #f2f2f2
      border-right .01rem solid #f2f2f2
    .b_t
      border-top .01rem solid #f2f2f2
    .b_b
      border-bottom .01rem solid #f2f2f2
    .b_l
      border-left .01rem solid #f2f2f2
    .b_r
      border-right .01rem solid #f2f2f2
    .fl
      float left
    .fr
      float right
    .db
      display block
    .dib
      display inline-block
    .flex
      display flex
    .flex_center
      display flex
      align-items center
      justify-content center
    .flex_centers
      display flex
      align-items center
    .fix
      position fixed
    .f_16
      font-size .16rem
    .p_footer
      padding-bottom 1.1rem      
    .box
      box-sizing border-box
    .footer 
        .fix
          >div
            display block
            -webkit-box-flex 1
            -ms-flex 1
            flex 1
            text-decoration none        
          .router-link-active
            a
              color red 
    .text 
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
      display block
    .texts
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 3
      overflow hidden
    .price
      color red
    .clear 
      clear both
    .ov
      clear both
      overflow hidden 
    .btn
      width 1.2rem
      height .6rem
      border-radius .3rem
      background #26a2ff
      color white
      text-align center
      line-height .6rem
      border none 
    .w0
      width 0
    .w100
      width 100%
    .h100
      height 100%
    .all100
      height 100%
      width 100%
    .tc
      text-align center
    .tl
      text-align left 
    .tr
      text-align right
    .wc-slide img
      width 100%
      height 5rem
    .maskbg
      position fixed
      width 100%
      height 100%
      background rgba(0,0,0,0.3)
      top 0
      left 0
      z-index 998
    .maskmain
      position fixed 
      width 100%
      min-height 6rem
      bottom 0
      left 0
      background white
      padding-bottom 0.8rem
      z-index 999
    .maskbg-enter-active,.maskbg-leave-active
      transition opacity 0.3s
    .maskbg-enter,.maskbg-leave-to 
      opacity 0
    .maskmain-enter-active,.maskmain-leave-active
      transition all 0.1s
    .maskmain-enter,.maskmain-leave-to 
      transform translateY(100%)
    .order
      img
        width 1.2rem
        height 1.2rem
        margin-right .1rem
      h4
        font-size .32rem
      p
        font-size .28rem
        margin-top .1rem