.mobilecart {
  .topheader {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 1.714286rem;
      width: 66%;
      flex-shrink: 0;
    }
    .ul {
      display: flex;
      .li {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 1.428571rem;
          height: 1.428571rem;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid #000000;
          text-align: center;
          line-height: 1.428571rem;
        }
        i {
          width: 1rem;
          height: 0.214286rem;
          background: #000;
          display: inline-block;
          vertical-align: middle;
        }
        &.active {
          span {
            background: #000;
            color: white;
          }
        }
      }
    }
  }
  .cart3 {
    .main {
      display: flex;
      justify-content: space-between;
      .left {
        .title {
          font-weight: 350;
          text-align: left;
          font-size: 1.714286rem;
          margin-top: 0;
          margin-top: 1.5rem;
        }
        .form {
          .group {
            display: flex;
            margin-top: 1.428571rem;
            input {
              flex: 1;
              width: 100%;
              border-bottom: 1px solid #000;
              padding-bottom: .714286rem;
              padding-left: 0;
              & + input {
                margin-left: .714286rem;
              }
              &::-webkit-input-placeholder,
              &::-moz-placeholder,
              &:-ms-input-placeholder,
              &:-moz-placeholder {
                color: #9b9b9b;
              }
            }
          }
          p {
            font-size: .857143rem;
            margin-top: .857143rem;
            color: #000;
          }
        }
        .checkbox {
          margin-top: 1.428571rem;
          margin-bottom: 1.428571rem;
          label {
            padding-left: 0px;
            font-size: .857143rem;
          }
        }
        .carttop {
          top: 70px;
          width: 100%;
          height: 20.642857rem;
          background:rgba(237,237,237,1);
          left: 0;
          .title{
            padding-top: 4.785714rem;
            text-align: center;
            margin-top: 0;
          }
          p {
            width: 22.285714rem;
            margin: 0 auto;
            margin-top: 1.571429rem;
            margin-bottom: 2rem;
          }
        }
        p {
          width:100%;
          margin: 0 auto;
          margin-top: 1.071429rem;
        }
        .tit {
          margin-top: 1.428571rem;
          margin-bottom: .714286rem;
        }
        .group {
          display: flex;
          margin-top: 1.428571rem;
          border-bottom: 1px solid #000;
          padding-bottom: .714286rem;
          input {
            flex: 1;
            width: 100%;
            padding-left: 0;
            margin-left: .714286rem;
            & + input {
              margin-left: .714286rem;
            }
            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &:-moz-placeholder {
              color: #9b9b9b;
            }
          }
        }
        .topbtn {
          width: 16.857143rem;
          height: 3.214286rem;
          border: 2px solid rgba(26, 26, 26, 1);
          line-height: 3.214286rem;
          text-align: center;
          margin-top: 2.5rem;
          margin: 0 auto;
        }
        .btn {
          width: 100%;
          height: 3.214286rem;
          background: rgba(248, 231, 28, 1);
          line-height: 3.214286rem;
          text-align: center;
          float: left;
          padding: 0;
          margin-bottom: 1.428571rem;
          margin-top: 0px;
        }
      }
      
    }
  }
}
