.user {
  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .mainleft {
    width: 227px;
    height: 100%;
    background: rgba(237, 237, 237, 1);
    position: relative;
    padding: 40px 39px;
    ul {
      li {
        font-size: 20px;
        padding-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
        &.active {
          border-bottom: 1px solid #000;
        }
      }
    }
    .logout {
      position: absolute;
      bottom: 40px;
      cursor: pointer;
      img {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 15px;
      }
    }
  }
}
