.user {
  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}
.navbar {
  background: white;
  height: 3.571429rem;
  display: block;
  li {
    width: 50%;
    display: inline-block;
    padding-left: 1.428571rem;
    background: rgba(237, 237, 237, 1);
    &.active {
      background: white;
    }
    line-height: 3.571429rem;
  }
}
