.mobilecart {
  .topheader {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 1.714286rem;
      width: 66%;
      flex-shrink: 0;
    }
    .ul {
      display: flex;
      .li {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 1.428571rem;
          height: 1.428571rem;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid #000000;
          text-align: center;
          line-height: 1.428571rem;
        }
        i {
          width: 1rem;
          height: 0.214286rem;
          background: #000;
          display: inline-block;
          vertical-align: middle;
        }
        &.active {
          span {
            background: #000;
            color: white;
          }
        }
      }
    }
  }
  .tabelmain {
    border-bottom: 1px solid #000;
    padding-bottom: 0.714286rem;
    .desc {
      img {
        width: 100%;
        height: 10.785714rem;
        margin-top: 1.071429rem;
        margin-bottom: 1.071429rem;
      }
      .desctext {
        .build2 {
          img {
            width: 6.928571rem;
            height: 2.285714rem;
            margin-top: 1.071429rem;
            margin-bottom: 0.571429rem;
          }
          .p {
            display: flex;
            justify-content: space-between;
            p {
              color: #ff8800;
              flex: 1;
            }
            u {
              font-size: 0.857143rem;
              width: 9.214286rem;
              display: block;
              margin-top: 1.714286rem;
            }
          }
        }
        .name {
          font-size: 1.285714rem;
        }
        .desc {
          font-size: 1rem;
          margin-top: 0.571429rem;
        }
      }
    }
    .numandprice {
      display: flex;
      justify-content: space-between;
      margin-top: 1.071429rem;
      .qty {
        width: 8.928571rem;
        display: flex;
        span {
          width: 2.857143rem;
          height: 2.857143rem;
          border: 1px solid #4a4a4a;
          line-height: 2.857143rem;
          text-align: center;
          display: inline-block;
          cursor: pointer;
        }
        input {
          width: 2.857143rem;
          height: 2.857143rem;
          border-top: 1px solid #4a4a4a;
          border-bottom: 1px solid #4a4a4a;
          font-size: 1.142857rem;
          color: #4a4a4a;
          padding-left: 0;
          text-align: center;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
          }
        }
      }
      .price {
        .prices {
          display: flex;
          width: 10.714286rem;
          justify-content: flex-end;
          .oldprice {
            color: #000000;
            font-size: 1rem;
            text-decoration: line-through;
          }
          .newprice {
            color: #000000;
            margin-left: 0.714286rem;
          }
        }
        .del {
          color: #000000;
          margin-top: 1.428571rem;
          text-align: right;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .tabelbot {
    .left {
      display: flex;
      border-bottom: 1px solid #000;
      padding: 0.714286rem 0;
      margin: 0 0 1.071429rem 0;
      justify-content: space-between;
      .text {
        color: #ff8800;
        width: 15.214286rem;
      }
      img {
        width: 8.214286rem;
        height: 2.714286rem;
      }
    }
  }
  .bto_right {
    margin-top: 1.428571rem;
    p {
      display: flex;
      justify-content: space-between;
      color: #000000;
      font-size: 1.142857rem;
      &.p1 {
        font-size: 1.428571rem;
        i {
          font-size: 1rem;
        }
      }
      &.p2 {
        font-size: 1rem;
        margin-top: 1.571429rem;
      }
    }
    .btn {
      width: 100%;
      height: 3.214286rem;
      background: rgba(248, 231, 28, 1);
      font-size: 1rem;
      color: #000;
      line-height: 3.214286rem;
      text-align: center;
      padding: 0;
      margin-top: 1.714286rem;
      margin-bottom: 1.428571rem;
    }
  }
}
