.mobilecart {
  .topheader {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 1.714286rem;
      width: 66%;
      flex-shrink: 0;
    }
    .ul {
      display: flex;
      .li {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 1.428571rem;
          height: 1.428571rem;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid #000000;
          text-align: center;
          line-height: 1.428571rem;
        }
        i {
          width: 1rem;
          height: .214286rem;
          background: #000;
          display: inline-block;
          vertical-align: middle;
        }
        &.active {
          span {
            background: #000;
            color: white;
          }
        }
      }
    }
  }
  .cart2 {
    .main {
      display: flex;
      flex-direction: column;
      .left {
        .title {
          font-weight: 350;
          margin-top: 1.285714rem;
        }
        .form {
          .group {
            display: flex;
            margin-top: 1.428571rem;
            input {
              flex: 1;
              width: 100%;
              border-bottom: 1px solid #000;
              padding-bottom: .714286rem;
              padding-left: 0;
              & + input {
                margin-left: .714286rem;
              }
              &::-webkit-input-placeholder,
              &::-moz-placeholder,
              &:-ms-input-placeholder,
              &:-moz-placeholder {
                color: #9b9b9b;
              }
            }
          }
          p {
            font-size: .857143rem;
            margin-top: .857143rem;
            color: #000;
          }
        }
        .checkbox {
          margin: 1.428571rem 0;
          label {
            padding-left: 0px;
          }
        }
        .btn {
          width: 100%;
          height: 3.214286rem;
          background: rgba(248, 231, 28, 1);
          line-height: 3.214286rem;
          text-align: center;
          float: right;
          padding: 0;
          margin-bottom: 1.428571rem;
          margin-top: 1.428571rem;
        }
      }
    }
  }
}
