.mobileforgot {
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    .title {
      font-size: 2.571429rem;
    }
    p {
      font-size: 1rem;
      margin-top: .714286rem;
      width: 20.714286rem;
    }
    .form {
      .group {
        margin-top: 2.642857rem;
        p {
        }
        input {
          width: 100%;
          padding-bottom: .714286rem;
          margin-top: .714286rem;
          padding-left: 0;
          border-bottom: 1px solid rgba(74, 74, 74, 1);
          &::-webkit-input-placeholder,
          &::-moz-placeholder,
          &:-ms-input-placeholder,
          &:-moz-placeholder {
            color: #9b9b9b;
          }
        }
      }
      .btn {
        width: 16.857143rem;
        height: 3.214286rem;
        background: rgba(248, 231, 28, 1);
        line-height: 3.214286rem;
        text-align: center;
        margin-top: 2.642857rem;
      }
      .btn2{
        width: 16.857143rem;
        height: 3.214286rem;
        background:rgba(26,26,26,1);
        line-height: 3.214286rem;
        text-align: center;
        margin-top: 2.642857rem;
        color: white;
        img{
          width: .928571rem;
          height: .714286rem;
          margin-right: .714286rem;
        }
      }
    }
  }
}
