
*{ font-family: "微软雅黑"; padding: 0; margin: 0;}
body{max-width:640px;margin: auto;-webkit-text-size-adjust: none;}
a{ text-decoration: none;}
li{ list-style: none;}
.hundred{ display: block; width: 100%;}


html,
body {
	position: relative;
	height: 100%;
	font-size: 62.5%;
}

.io{ display: table; position: absolute; z-index: 999; top: 0; bottom: 0; height: 100%; width: 100%; background: #ffffff; color: #FF0000;}
.zhe{ display: table-cell; vertical-align: middle; text-align: center;}
.zhe i{ display: inline-block; width: 20px; height: 20px; margin: 0 2px; background: #257af9; border-radius: 50%;}
.wei{ -webkit-animation: layui-m-anim-loading 1.4s infinite ease-in-out;}
@-webkit-keyframes layui-m-anim-loading {
	0%,
	100%,
	80% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	40% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}
.wei:nth-child(1){ -webkit-animation-delay:-.32s;}
.wei:nth-child(2){ -webkit-animation-delay:-.16s;}



.swiper-container{ width: 100%; height: 100%;}
.swiper-wrapper{ width: 100%; height: 100%;}

.swiper-slide{ font-size: 18px; background: #fff;}

.swiper-pagination-bullet{ width: 6px; height: 6px; background: #fff; opacity: .4;}

.swiper-pagination-bullet-active{ opacity: 1;}

.index .index-img{ position: absolute; top: 0; width: 100%; height: 100%;}
.index .index-img img{ height: 100%;}
.index .one-img{ width: 540px; margin: 0 auto; padding-top: 60px;}
.index .txt{ width: 460px; margin: 0 auto; position: relative; z-index: 9; padding-top: 80px;}

.bg{ background: url(../img/icon03.jpg) no-repeat; background-size: 100% 100%;}
.bg-one{ background: url(../img/icon43.jpg) no-repeat; background-size: 100% 100%;}
.two .one-img{ width: 375px; padding-top: 35px; padding-left: 40px;}
.two .two-img{ width: 560px; margin: 0 auto; margin-top: -60px;}
.two .txt-one{ width: 280px; margin-top: 30px; margin-left: 55px;}
.two .txt-two{ width: 405px; margin-left: 200px;}

.three .one-img{ width: 375px; padding-top: 35px; padding-left: 40px;}
.three .two-img{ width: 450px; padding-top: 55px; padding-left: 115px;}
.three .three-img{ width: 415px; padding-top: 55px; padding-left: 115px;}

.four .one-img{ width: 375px; padding-top: 35px; padding-left: 40px;}
.four .two-img{ width: 370px; padding-top: 55px; padding-left: 115px;}
.four .two-img:nth-child(3){ width: 355px;}
.four .three-img{ width: 385px; padding-top: 55px; padding-left: 115px;}

.five .one-img{ width: 375px; padding-top: 35px; padding-left: 40px;}
.five .two-img{ width: 300px; padding-top: 80px; padding-left: 115px;}
.five .three-img{ width: 445px; padding-top: 55px; padding-left: 115px;}

.six .one-img{ width: 400px; padding-top: 35px; padding-left: 40px;}
.six .two-img{ width: 400px; padding-top: 18px; margin: 0 auto;}

.seven .one-img{ width: 490px; padding-top: 35px; padding-left: 45px;}
.seven .two-img{ width: 540px; padding-top: 5px; margin: 0 auto;}
.seven .two-img p{ color: #fff; font-size: 22px; text-align:justify; padding-top: 3px;}
.seven .three-img{ width: 520px; padding-top: 25px; margin: 0 auto;}
.seven .four-img{ width: 530px; padding-top: 25px; margin: 0 auto;}

.eight .one-img{ width: 405px; padding-top: 35px; padding-left: 45px;}
.eight .two-img{ width: 550px; padding-top: 80px; margin: 0 auto;}

.nine .one-img{ width: 505px; padding-top: 35px; padding-left: 45px;}
.nine .two-img{ width: 570px; padding-top: 100px; margin: 0 auto;}
.nine .two-img .text{ text-align: right; color: #e4007f; font-size: 20px; padding-top: 5px;}
.nine .three-img{ width: 570px; padding-top: 80px; margin: 0 auto;}

.ten .one-img{ width: 435px; padding-top: 35px; padding-left: 45px;}
.ten .two-img{ width: 388px; padding-top: 50px; margin: 0 auto;}
.ten .three-img{ width: 530px; padding-top: 0px; margin: 0 auto;}
.ten .four-img{ width: 520px; padding-top: 70px; padding-left: 65px;}

.eleven .one-img{ width: 435px; padding-top: 35px; padding-left: 45px;}
.eleven .two-img{ width: 440px; padding-top: 40px; padding-left: 200px;}
.eleven .three-img{ width: 480px; padding-top: 45px;}
.eleven .four-img{ width: 410px; padding-top: 30px;}

.twelve .one-img{ width: 420px; padding-top: 35px; padding-left: 45px;}
.twelve .left{ float: left; width: 260px; padding-left: 48px;}
.twelve .right{ float: right; width: 260px; padding-right: 48px;}
.twelve .left img{ padding-top: 10px;}
.twelve .right img{ padding-top: 10px;}

.thirteen .one-img{ width: 510px; padding-top: 35px; padding-left: 45px;}
.thirteen .two-img{ width: 240px; padding-top: 20px; margin: 0 auto;}
.thirteen .three-img{ width: 240px; padding-top: 30px; margin: 0 auto; clear: both;}
.thirteen .left{ float: left; width: 265px; padding-top: 15px; padding-left: 50px;}
.thirteen .right{ float: right; width: 265px; padding-top: 15px; padding-right: 35px;}
.thirteen .left-one{ float: left; width: 265px; padding-top: 20px; padding-left: 50px;}
.thirteen .right-one{ float: right; width: 235px; padding-top: 20px; padding-right: 65px;}

.fourteen .one-img{ width: 475px; padding-top: 35px; padding-left: 45px;}
.fourteen .two-img{ width: 440px; padding-top: 10px;}
.fourteen .three-img{ width: 452px; padding-top: 10px;}
.fourteen .four-img{ width: 452px; padding-top: 10px;}
.fourteen .five-img{ width: 468px; padding-top: 10px;}
.fourteen .pad-left{ padding-left: 122px;}

.fiveteen .one-img{ width: 330px; padding-top: 35px; padding-left: 45px;}
.fiveteen .two-img{ width: 575px; margin: 0 auto;}
.fiveteen .two-img:nth-child(2){ padding-top: 30px;}
.fiveteen .two-img:nth-child(3){ padding-top: 50px;}

.sixteen .one-img{ width: 330px; padding-top: 35px; padding-left: 45px;}
.sixteen .two-img{ width: 575px; margin: 0 auto;}
.sixteen .two-img:nth-child(2){ padding-top: 65px;}
.sixteen .two-img:nth-child(3){ padding-top: 80px;}

.seventeen .one-img{ width: 450px; padding-top: 35px; margin: 0 auto;}
.seventeen .text{ text-align: center; color: #fff; line-height: 25px;}
.seventeen .text .txt-one{ font-size: 25px; margin-top: 5px; margin-bottom: 5px;}
.seventeen .text .txt-two{ font-size: 20px;}
.seventeen .pad-top{ padding-top: 0px;}

.eighteen .one-img{ width: 395px; padding-top: 85px; margin: 0 auto;}
.eighteen .two-img{ width: 490px; padding-top: 70px; margin: 0 auto;}
.eighteen .three-img{ width: 460px; padding-top: 70px; margin: 0 auto;}

.copyright{ position: absolute; bottom: 7px; width: 95%; margin-left: 2.5%;}


.music{ position: absolute; z-index: 100; top: 20px; right: 20px; width: 50px; height: 50px;}
.music img{ display: block; width: 100%}

.rotating{
	-webkit-animation: rotating 1.2s linear infinite;
	animation: rotating 1.2s linear infinite;
}

@-webkit-keyframes rotating {
	0% {
		-webkit-transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes rotating {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}















