
.fitle_content{

	width: 1200px;
	/*height: 1000px;*/
	margin: 50px auto 73px;
	overflow: hidden;
}

.fitle_content .big_picture{
	float: left;
	width: 800px;
	height: 448px;
}
.fitle_content .content_right{
	width: 396px;
	height: 446px;
	border: 1px solid #cccccc;
	float: right;
}
.fitle_content .content_right .one{
	height: 47px;
	background-color: #CCCCCC;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 48px;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 31px;
	color: #000000;
}
.fitle_content .content_right .one>img{
	display: inline-block;
	float: right;
	margin-top: 10px;
}
.fitle_content .content_right .login{
	padding-left: 50px;
}
.fitle_content .content_right .login>ul>li{
	display: block;
	height: 34px;
	margin-bottom: 22px;
}
.fitle_content .content_right .login>ul>li>span{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 34px;
}
.fitle_content .content_right .login>ul>li>input{
	display: inline-block;
	height: 28px;
	width: 230px;
}
.fitle_content .content_right .login>ul>li:nth-child(3)>input{
	width: 90px;
}
.fitle_content .content_right .login>ul>li:nth-child(3)>p{
	display: inline-block;
	height: 34px;
	padding-left: 10px;
	cursor: pointer;	
}
.fitle_content .content_right .login>ul>li:nth-child(3)>p>img{
	position: relative;
	top: 10px;
}
.fitle_content .content_right .login>ul>li:nth-child(3)>p>span{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	position: relative;
	top: 8px;
	color: #305baa;
}
/*登录的按钮*/
.fitle_content .content_right .login_buttom{
	width: 306px;
	height: 160px;
	margin: 40px auto 0;
}
.fitle_content .content_right .login_buttom>a>input{
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-family:  "微软雅黑";
	font-size: 18px;
	text-align: center;
	background-color: #ff0000;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	
	border-radius: 5px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
	-moz-border-radius: 5px; /* Mozilla浏览器的私有属性 */ 
	-webkit-border-radius: 5px; /* Webkit浏览器的私有属性 */ 
}
.fitle_content .content_right .login_buttom>p{
	display: block;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 30px;
}
.fitle_content .content_right .login_buttom>p>span>a{
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
	line-height: 18px;
}
.fitle_content .content_right .login_buttom>span{
	display: block;
}