.cart_nav{
	width: 621px;
	height: 63px;
	margin: 30px auto 30px;
}
.cart_nav>a{
	display: inline-block;
	float: left;
}
.cart_nav>a>img{
	display: block;
}




.Success{
	width: 1200px;
	height: 120px;
	margin:  0 auto;
	border: 1px solid #6b6b6b;
	background-color: #e9e9e9;
}
.Success .img{
	width: 144px;
	height: 120px;
	float: left;
}
.Success .img>img{
	display: block;
	margin-top: 17px;
	margin-left: 27px;
}
.Success>div>p{
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666666;
}
.Success>div>p>span{
	color: #ee0000;
}







.mode{
	width: 1200px;
	/*height: 728px;*/
	margin: 40px auto 50px;
	border: 1px solid #6b6b6b;
}

.mode .mode_top{
	width: 168px;
	height: 37px;
	border: 1px solid #6b6b6b;
	border-bottom: none;
	margin-top: 14px;
	margin-left: 26px;
	font-family: "宋体";
	font-size: 14px;
	line-height: 37px;
	text-align: center;
	color: #e10303;
	background-color: #FFFFFF;
	float: left;
}
.mode .mode_content{
	width: 1099px;
	/*height: 344px;*/
	border: 1px solid #6b6b6b;
	margin: 0 auto;
	margin-top: -1px;
	padding: 23px;
	padding-bottom: 0;
}
.mode .mode_content>p{
	padding-left: 20px;
	font-family: "宋体";
	font-size: 14px;
	line-height: 36px;
	color: #333333;
}
.mode .mode_content>ul{
	display: block;
	margin-right: -52px;
}
.mode .mode_content>ul>li{
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 25px;
}
.mode .mode_content>ul>li>label{
	display: block;
	width: 185px;	
	height: 47px;
	border: 1px solid #999999;
	cursor: pointer;
}
.mode .mode_content>ul>li>label>span{
	display: block;
	float: left;
	width: 51px;
	height: 47px;
}
.mode .mode_content>ul>li>label>span>img{
	display: block;
}
.mode .mode_content>ul>li>label>span>input{
	display:block;
	margin-top: 16px;
	margin-left: 14px;
	cursor: pointer;
	margin-left: 20px;
	cursor: pointer;
	
	margin-right:4px;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	background-image: url(../img/user/input1.png);
	position: relative;
	/*top: 8px;*/
	
}
.mode .mode_content>ul>li>label>span>input:checked:after{
	content:url(../img/user/input2.png);
	position: absolute;
	top: -7px;
	left: 3px;
	z-index: 2;
	cursor: pointer;
	
}

.mode .mode_foot{
	width: 1099px;
	height: 50px;
	padding-left: 23px;
	padding-right: 23px;
	border: 1px solid #6b6b6b;
	margin:  0 auto;
	border-top:0 ;
}

.mode .mode_foot>label>span{
	display: block;
	float: left;
	width: 51px;
	height: 50px;
}
.mode .mode_foot>label{
	display: inline-block;
	width: 300px;	
	height: 50px;
	float: left;
	/*border: 1px solid #999999;*/
}
.mode .mode_foot>label>span>input{
	display:block;
	margin-top: 16px;
	margin-left: 14px;
	
	margin-right:4px;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	background-image: url(../img/user/input1.png);
	position: relative;
	top: 4px;
	
}
.mode .mode_foot>label>span>input:checked:after{
	content:url(../img/user/input2.png);
	position: absolute;
	top: -7px;
	left: 3px;
	z-index: 2;
	cursor: pointer;
	
}

.mode .mode_foot .balance{
	display: inline-block;
	line-height: 50px;
	float: left;
}
.mode .mode_foot .payment{
	display: inline-block;
	float: right;
	line-height: 50px;
	margin-right: 200px;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
}
.mode .mode_foot .payment>span{
	display: inline-block;
	font-family: arial;
	font-size: 18px;
	line-height: 50px;
	margin-left: 10px;
	color: #cf000e;
}


.mode .confirm{
	width:400px ;
	/*height: 200px;*/
	margin-top: 13px;
	margin-left: 45px;
	margin-bottom: 50px;
}

.mode .confirm>p{
	line-height: 36px;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
}
.mode .confirm>p>img{
	display: block;
	float: left;
	margin-top: 8px;
	margin-right: 10px;
}
.mode .confirm .password{
	overflow: hidden;
}
.mode .confirm .password>div{
	width: 174px;
	height: 30px;
	border: 1px solid #999999;
	float: left;
	margin-right: 10px;
	overflow: hidden;
}
.mode .confirm .password>div>input:first-child{
	border: none;
}
.mode .confirm .password>div>input{
	width: 28px;
	/*height: 30px;*/
	margin: 3px 0;
	border: none;
	padding-left: 10px;
	border-left: 1px solid #999999;
		padding: 0;
		text-align: center;
}






.mode .confirm .password>a{
	line-height: 32px;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
}

.mode .confirm>a{
	display: block;
	width: 185px;
	height: 55px;
	background-color: #d8000f;
	line-height: 55px;
	font-family: "微软雅黑";
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
}






/*成功*/

.pay_success{
	width: 1200px;
	height: 270px;
	border: 1px solid #999999;
	margin: 43px auto 68px ;
}
.pay_success .imges{
	width: 400px;
	height: 270px;
	float: left;
	
}
.pay_success .imges>img{
	display: block;
	margin-top: 22px;
	margin-left: 267px;
}


.pay_success .text{
	width: 800px;
	height: 210px;
	padding-top: 60px;
	float: left;
}
.pay_success .text>p{
	font-family: "微软雅黑";
	font-size: 30px;
}
.pay_success .text>span{
	font-family:"宋体";
	font-size: 14px;
	display: block;
}
.pay_success .text>span>span{
	margin: 0 22px; 0;
}

.pay_success .text>a{
	display: inline-block;
	width:98px ;
	height:32px ;
	border: 1px solid #999999;
	
	font-family:"宋体";
	font-size: 14px;
	color: #333333;
	text-align: center;
	line-height: 32px;
	
	margin-top: 30px;
	margin-right: 60px;
}
.pay_success .text .a{
	border: 0;
	color: #d8000f;
	line-height: 32px;
	margin-left:-30px;
	margin-top: 10px;
	
}

















