
/*当前位置*/
.position{
	width: 1200px;
	height: 42px;
	margin: 0 auto;

}
.position>p{
	padding-left: 20px;
	line-height: 42px;
	font-family: "宋体";
	font-size: 14px;
}
.position>p>a{
	line-height: 42px;
	font-family: "宋体";
	font-size: 14px;
}

.content_top{
	width: 1200px;
	margin:0 auto 60px; 
	overflow: hidden;
}
.content_top .banner_order{
	width: 529px;
	float: left;
	/*height: ;*/
	/*margin:0 auto ;*/ 
	
}
.content_top .banner_order .top{
	/*float: left;*/
}
.content_top .banner_order .top>img{
	display: block;
	width: 529px;
	height: 422px;
}
.content_top .banner_order .bottom{
	width: 425px;
	height: 87px;
	margin: 10px auto 0;
}
.content_top .banner_order .bottom .banner{width: 337px;overflow: hidden;height: 87px;float: left;}
.content_top .banner_order .bottom .banner>ul{width: 8000px;clear: both;overflow: hidden;}
.content_top .banner_order .bottom>a{
	display: inline-block;
	width: 44px;
	height: 87px;
	/*margin-top: 85px;*/
}
.content_top .banner_order .bottom>a>img{
	display: block;
	margin-top: 18px;
	margin-left: 15px;
}

.content_top .banner_order .bottom .banner>ul>li{
	/*display: inline-block;*/
	display: block;
	float: left;
	border: 2px solid #FFFFFF;
	cursor: pointer;
}
.content_top .banner_order .bottom .banner>ul>li:hover{
	border: 2px solid #e60303;
	
}
.content_top .banner_order .bottom .banner>ul>li.active{
	border: 2px solid #e60303;
}
.content_top .banner_order .bottom .banner>ul>li+li{
	margin-left: 8px;
}
.content_top .banner_order .bottom .banner>ul>li>img{
	display: block;
}









/*中间文本选择内容*/
.content_top .middle_text{
	width: 499px;
	height: 540px;
	float: left;
	/*background-color: #FFF9E9;*/
}
.content_top .middle_text>h1{
	display: block;
	width: 94%;
	margin: 0 auto;
	
}
.content_top .middle_text>h1>a{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333333;
	line-height: 30px;
	font-weight: 500;
}
.content_top .middle_text>h1>a>span{
	font-family: "宋体";
	font-size: 14px;
	font-weight: 100;
	margin-left: 10px;
}
.content_top .middle_text>p{
	display: block;
	width: 94%;
	margin: 0 auto;
	font-family: "宋体";
	font-size: 14px;
	line-height: 26px;
	color: #cf000e;
}

.content_top .middle_text>div{
	width: 90%;
	margin: 10px auto 0;
}
/*价格*/
.content_top .middle_text>div .price>p{
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
	/*text-decoration:line-through; 穿过字体的线*/
}
.content_top .middle_text>div .price>p .span{
	text-decoration:line-through; /*穿过字体的线*/
	line-height: 30px;
}
.content_top .middle_text>div .price>p .span_red {
	font-size: 18px;
	color: #cf000e;
	line-height: 30px;
}
/*类型*/
.content_top .middle_text>div .type{
	height: 94px;
}
.content_top .middle_text>div .type>span{
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
	float: left;
}

.content_top .middle_text>div .type>ul{
	float: left;
}

.content_top .middle_text>div .type>ul>li{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 26px;
	border: 2px solid #666666;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;  /*放手去变成手指*/
	
}
.content_top .middle_text>div .type>ul>li:hover{
	border: 2px solid red;
}
.content_top .middle_text>div .type>ul>li+li{
	margin-top: 14px;
}
/*选择*/
.content_top .middle_text .choice{
	height: 100px;
}

.content_top .middle_text .choice>p{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 30px;
}
.content_top .middle_text .choice>div{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 30px;
	height: 36px;
}
.content_top .middle_text .choice>div>span{
	float: left;
}
.content_top .middle_text .choice>div>ul{
	float: left;
}
.content_top .middle_text .choice>div>ul>li{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 22px;
	float: left;
	
	display: inline-block;
	width: 40px;
	border: 1px solid #333333;
	text-align: center;
	margin-top: 4px;
	
	cursor: pointer;  /*放手去变成手指*/
	
}
.content_top .middle_text .choice>div>ul>li:hover{
	border: 1px solid red;
}
.content_top .middle_text .choice>div>ul>li+li{
	margin-left: 7px;
}
.content_top .middle_text .choice .add_and_subtract>div{
	display: inline-block;
	float: left;
	margin-right: 20px;
} 
.content_top .middle_text .choice .add_and_subtract .reduce{
	display: inline-block;
	width: 18px;
	background:none ;
	border: 1px solid #666666;
	height: 28px;
	cursor: pointer;  /*放手去变成手指*/
	padding: 0;
	vertical-align: middle;
	font-size: 16px;
	line-height: 28px;
}
.content_top .middle_text .choice .add_and_subtract .text{
	display: inline-block;
	width: 32px;
	height: 26px;
	text-align: center;
	padding: 0 ;
	border: 1px solid #666666;
	vertical-align: middle;
}
.content_top .middle_text .choice .add_and_subtract .add{
	display: inline-block;
	width: 18px;
	height: 28px;
	background:none ;
	border: 1px solid #666666;
	cursor: pointer;  /*放手去变成手指*/
	padding:  0;
	vertical-align: middle;
	line-height: 28px;
}
/*下面的两个红色按钮*/
.content_top .middle_text .button{
	width: 395px;
	height: 33px;
	margin: 60px auto 0;
}
.content_top .middle_text .button>a{
	display: inline-block;
	width: 173px;
	height: 33px;
	background-color: #ea5f03;
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 33px;
	
	text-align: center;
	color: #FFFFFF;
	background-image: url(../img/order/hongbao.png);
	
	float: left;
}
.content_top .middle_text .button>a+a{
	background-image: url(../img/order/cat.png);
	float: right;
}

		/*<!--右边的广告-->*/
.content_top .advertisement{
	height: 540px;
	width: 172px;
	float: left;
	/*background-color: #FF6600;*/
}
.content_top .advertisement>span{
	display: block;
	width:170px ;
	height: 24px;
	margin: 0 auto;
	text-align: center;
	font-family: "宋体";
	font-size: 14px;
	
	background-image: url(../img/order/GGbg.png);
	
	margin-bottom: 10px;
}
.content_top .advertisement>ul>li{
	display: block;
	margin-bottom: 14px;
}
.content_top .advertisement>ul>li>a{
	display: block;
}
.content_top .advertisement>ul>li>a>img{
	display: block;
	width: 100%;
}
.content_top .advertisement>ul>li>a>p{
	padding-left: 35px;
	height: 26px;
	margin: 0 auto;
	font-family: "宋体";
	color: #666666;
}
.content_top .advertisement>ul>li>a>p+p{
	color: #cf0310;
}


/*详情*/

.details{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}

.details .left{
	width: 200px;
	float: left;
}

/*左边的导航*/
.details .left_title{
	width: 198px;
	height: 490px;
	border: 1px solid #999999;
	float: left;
	background-color: #f4ebeb;
}
.details .left_title>span{
	display: block;
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
	background-color: #FFFFFF;
	padding-left: 36px;
	color: #333333;
	border-bottom: 1px solid #999999;
}
.details .left_title>span+span{
	border: none;
}
.details .left_title>ul{
	padding-bottom:50px ;
	background-color: #FFFFFF;
}
.details .left_title>ul>li{
	display: block;
	padding-left: 55px;
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
	color: #666666;
}


/*左边导航下面的广告*/
.details .left_adviertisement{
	width: 198px;
	/*height: 500px;*/
	border: 1px solid #999999;
	float: left;
	margin-top: 34px;
}
.details .left_adviertisement>span{
	display: block;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	border-bottom: 1px solid #999999;
}
.details .left_adviertisement>ul>li{
	display: block;
	margin-top: 3px;
	margin-bottom: 16px;
}
.details .left_adviertisement>ul>li>a{
	display: block;
}
.details .left_adviertisement>ul>li>a>img{
	display: block;
	margin: 0 auto;
}
.details .left_adviertisement>ul>li>a>p{
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
	padding-left: 42px;
	color: #666666;
}
.details .left_adviertisement>ul>li>a>p+p{
	color: #bc0b0b;
}













.details .right_content{
	width: 976px;
	float: right;
	
	/*background-color: #E6EAED;*/
}

/*头部*/
.details .right_content .top{
	height: 62px;
	background-color: #FFFFFF;
}
.details .right_content .top>ul>li{
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 30px;
	border: 1px solid #999999;
	background-color: #f4eaea;
	
	padding-right: 30px;
	padding-left: 30px;
	cursor: pointer;  /*放手去变成手指*/
	
	float: left;
}
.details .right_content .top>ul>li+li{
	border-left:none ;
}
/*
.details .right_content .top>ul>li:hover{
	background-color: #FFFFFF;
	border-bottom: none;
}*/
.details .right_content .top>ul>li.on{
	background-color: #FFFFFF;
	border-bottom: none;
}
/*下面详情内容*/

.details .right_content .content{
	width:974px ;
	/*height: 4500px;*/
	border: 1px solid #999999;
	margin-bottom: 100px;
	
}

.details .right_content .content .content_title{
	height: 60px;
	
	margin-top: 4px;
	border-top:5px solid #9b9b9b ;
	
	font-family: "微软雅黑";
	font-size: 20px;
	text-align: center;
}
.details .right_content .content .content_title>h1{
	text-align: center;
	
}
.details .right_content .content>ul{
	display: inline-block;
	float: left;
	margin-left: 42px;
	
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
	
}
/*.details .right_content .content .ullist ul{
	display: inline-block;
	float: left;
	margin-left: 42px;
	
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
}*/
.details .right_content .content_score .ullist .ul{display: none;}
.details .right_content .content_score .ullist .ul:first-child{display: block;}
.details .right_content .content>ul>li>span{
	display: inline-block;
	width: 70px;
	
}
.details .right_content .content>ul+ul{
	float: right;
}
.details .right_content .content>ul+ul>li>span{
	width: auto;
	
	margin-right: 20px;
}

.details .right_content .logo{
	width: 746px;
	height: 60px;
	border-top:1px solid #999999 ;
	margin: 290px auto 0;
}
.details .right_content .logo>div{
	width: 160px;
	height: 79px;
	margin: -40px auto 0;
	border: 1px solid #999999;
}
.details .right_content .logo>div>img{
	display: block;
}

/*详情图片*/
.details .right_content .content .photo{
	width: 929px;
	margin: 0 auto;
}
.details .right_content .content .photo>img{
	display: block;
}
.details .right_content .content .line{
	height: 116px;
	border-bottom: 5px solid #999999;
	margin-bottom: 5px;
}


/*选项卡页面后续的样式*/

/*评分页面*/
.details .right_content .content_score{
	border: none;
}
.details .right_content .content .score{
	/*width:100% ;*/
	height: 102px;
	border: 1px solid #999999;
	margin-bottom: 33px;
}
/*五星*/
.details .right_content .content .score .wuxing{
	display: inline-block;
	float: left;
	width: 168px;
	height: 90px;
	border-right:1px dashed #999999 ;
	margin-top: 6px;
}
.details .right_content .content .score .wuxing>span{
	display: block;
	font-family: arial;
	font-size: 36px;
	text-align: center;
	color: #da0606;
	line-height: 50px;
	
}
.details .right_content .content .score .wuxing>span>i{
	font-style:inherit;
	font-size: 14px;
	color: #333333;
	
}
.details .right_content .content .score .wuxing>img{
	display: block;
	margin: 0 auto;
}

/*满意度*/
.details .right_content .content .score .degree{
	width: 525px;
	height: 90px;
	display: inline-block;
	float: left;
	border-right:1px dashed #999999 ;
	margin-top: 6px;
}
.details .right_content .content .score .degree>p{
	display: block;
	overflow: hidden;
}
.details .right_content .content .score .degree .text{
	display: block;
	width: 140px;
	height: 30px;
	float: left;
	text-align: right;
	
	font-family: "宋体";
	font-size: 14px;
	color: #999999;
	line-height: 30px;
	padding-right: 10px;
}
.details .right_content .content .score .degree .color{
	display: block;
	width: 210px;
	height: 15px;
	float: left;
	background-color: #d10f0f;
	margin-top:8px;
}
.details .right_content .content .score .degree .percentage{
	display: block;
	width: 100px;
	height: 30px;
	float: left;
	
	font-family: "宋体";
	font-size: 14px;
	color: #999999;
	line-height: 30px;
	padding-left: 10px;
}






/*卖家映象*/
.details .right_content .content .score .mapping{
	display: inline-block;
	width: 277px;
	height: 90px;
	margin-top: 6px;
	float: left;
}
.details .right_content .content .score .mapping>span{
	font-family: "宋体";
	font-size: 14px;
	color: #999999;
	line-height: 90px;
	display: inline-block;
	height: 90px;
	margin-left: 16px;
	float: left;
}
.details .right_content .content .score .mapping>ul{
	float: left;
	width: 198px;
}
.details .right_content .content .score .mapping>ul>li{
	display: inline-block;
	background-color: #cccccc;
	margin-bottom: 8px;
	margin-right: 4px;
	margin-left: 4px;
	cursor: pointer;  /*放手去变成手指*/
	padding-left: 4px;
}
.details .right_content .content_score .degree_top{
	height: 32px;
	border: 1px solid #999999;
	
}

.details .right_content .content_score .degree_top>ul>li{
	display: inline-block;
	margin-left: 22px;
	margin-right: 22px;
	line-height: 32px;
	font-family: "宋体";
	font-size: 14px;
	cursor: pointer;
}	
.details .right_content .content_score .ul{
	display: block;
	float: none;
	margin: 0;
}
.details .right_content .content_score .ul>li{
	height: 183px;
	border-bottom: 1px solid #999999;
}
/*头像*/
.details .right_content .content_score .ul>li .portrait{
	display: inline-block;
	float: left;
	width: 120px;
	height: 183px;
}
.details .right_content .content_score .ul>li .portrait>img{
	display: block;
	margin: 32px auto 0;
}
.details .right_content .content_score .ul>li .portrait>p{
	font-family: "宋体";
	font-size: 14px;
	color:#666666;
	text-align: center;
	line-height: 30px;
}
.details .right_content .content_score .ul>li .portrait>p+p{
	color: #b70404;
	
}
.details .right_content .content_score .ul>li .portrait>p+p>span{
	color: #999999;
}

/*内容*/
.details .right_content .content_score .ul>li .li_content{
	display: inline-block;
	width: 620px;
	height: 119px;
	float: left;
	
	padding-top: 64px;
}
.details .right_content .content_score .ul>li .li_content>p{
	padding-left: 20px;
	
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
}
.details .right_content .content_score .ul>li .li_content>p>img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
/*右边了*/
.details .right_content .content_score .ul>li .li_right{
	display: inline-block;
	float: left;
	width: 234px;
	height: 119px;
	float: left;
	padding-top: 64px;
}

.details .right_content .content_score .ul>li .li_right>p{
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
}
.details .right_content .content_score .ul>li .li_right>p>span{
	display: inline-block;
	margin-top: 32px;
	margin-left: 20px;
	
	cursor: pointer;  /*放手去变成手指*/
	
}
/*翻页*/
.details .right_content .content_score .flip{
	width: 460px;
	height: 24px;
	margin: 44px auto 0;
}
.details .right_content .content_score .flip>ul{
	display: inline-block;
	float: left;
	margin-right: 18px;
}
.details .right_content .content_score .flip>ul>li{
	float: left;
	padding: 0 8px 0;
	height: 20px;
	line-height: 20px;
	border: 1px solid #666666;
	margin-left: 4px;
	cursor: pointer;  /*放手去变成手指*/
}
.details .right_content .content_score .flip>ul>li:nth-child(6){
	border: 1px solid #FFFFFF;
}
.details .right_content .content_score .flip>ul>li:nth-child(6):hover{
	background:none;
	border: 1px solid #FFFFFF;
	color: #666666;
}
.details .right_content .content_score .flip>ul>li:hover{
	background-color: #b70404;
	border: 1px solid #b70404;
	color: #FFFFFF;
}
.details .right_content .content_score .flip>ul>li:hover a{
	color: #FFFFFF;
}

.details .right_content .content_score .flip>span>input{
	display: inline-block;
	width:32px ;
	height: 18px;
	text-align: center;
	padding: 0;
}
.details .right_content .content_score .flip>span>span{
	display: inline-block;
	border: 1px solid #666666;
	line-height: 20px;
	padding:0 5px 0 ;
	margin-left: 5px;
	cursor: pointer;  /*放手去变成手指*/
}