
.fitle{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.fitle>p{
	font-family:  "微软雅黑";
	font-size: 24px;
	line-height: 50px;
}


.fitle_content{
	width: 1200px;
	/*height: 500px;*/
	border: 1px solid #CCCCCC;
	margin: 0 auto 148px;
	overflow: hidden;
}
.fitle_content .fitle_content_left{
	width:823px ;
	height:479px ;
	border-right:1px solid #CCCCCC;
	margin-top: 34px;
	float: left;
	margin-bottom: 62px;
	padding-top: 36px;
}
.fitle_content .fitle_content_left .fitle_tow{
	width: 820px;
	height: 515px;
	float: left;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li .line{
	display: block;
	float: left;
	width: 230px;
	margin-top: -11px;
	margin-left: 20px;
	
	font-family: "宋体";
	font-size: 12px;
	line-height: 24px;
	color: #cf000e;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li .line_one{
	display: block;
	float: left;
	width: 230px;
	/*margin-top: -11px;*/
	margin-left: 20px;
	
	font-family: "宋体";
	font-size: 12px;
	line-height: 24px;
	color: #cf000e;
}
.fitle_content .fitle_content_left .fitle_tow>form input[type='button']{
	border: none;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
	width: 324px;
	height: 32px;
	background-color: #cf000e;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 170px;
}
.fitle_content .fitle_content_left .fitle_tow>form>p{
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
	padding-left: 170px;
	
}
.fitle_content .fitle_content_left .fitle_tow>form>p label{cursor: pointer;}
.fitle_content .fitle_content_left .fitle_tow>form>p>input{
	cursor: pointer;
	vertical-align: middle;
	margin-right: 5px;
	
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	background-image: url(../img/user/input4.png);
	position: relative;
	top: -2px;
}
.fitle_content .fitle_content_left .fitle_tow>form>p>input:checked:after{
	content:url(../img/user/input3.png);
	position: absolute;
	top:-2px;
	left: 2px;
	z-index: 2;
	cursor: pointer;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li{
	
	
	height: 36px;
	line-height: 36px;
	margin-bottom: 22px;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	position: relative;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li>span:nth-child(1){
	display: block !important;
	float: left;
	width: 170px !important;
	height: 36px;
	line-height: 36px;
	text-align: right;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li>input{
	display: inline-block;
	width: 324px;
	float: left;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li:nth-child(5)>input{
	display: inline-block;
	width: 150px;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li:nth-child(5)>span:nth-last-child(1){
	display: inline-block;
	height: 24px;
	line-height: 24px;
	width: 80px;
	font-family: "宋体";
	font-size: 14px;
	margin-top: 5px;
	margin-left: 7px;
	text-align: center;
	color: #FFFFFF;
	background-color: #cf000e;
	cursor: pointer;   /*鼠标变手*/
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li:nth-child(6)>span:nth-last-child(1){
	display: inline-block;
	height: 26px;
	width: 114px;
	position: absolute;
	top: 3px;
	right: 317px;
	cursor: pointer;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li .checked input{ 
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	background-image: url(../img/user/input8.png);
	position: relative;
	top:4px;
	left: 10px;
	cursor: pointer;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li .checked input:checked:after{
	content:url(../img/user/input9.png);
	position: absolute;
	top:-2px;
	left: 3px;
	z-index: 2;
	cursor: pointer;
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li:nth-child(6)>span>span{
	display: inline-block;
	font-family: "宋体";
	font-size: 12px;
	color: #384cdf;
	position: relative;
	top: -5px;
	/*height: 20px;
	line-height: 14px;*/
}
.fitle_content .fitle_content_left .fitle_tow>form>ul>li:nth-child(6)>span>img{
	border: 1px solid #999999;
	display: inline-block;
	margin-right: 5px;
}

.fitle_content .fitle_content_left .fitle_three{
	width: 300px;
	height: 515px;
	float: left;
}
.fitle_content .fitle_content_left .fitle_three>ul>li{
	height: 36px;
	line-height: 36px;
	margin-bottom: 22px;
	/*text-align: right;*/
	/*font-family: "宋体";*/
	/*font-size: 14px;*/
	/*color: #333333;*/
	position: relative;
}
.fitle_content .fitle_content_left .fitle_three>ul>li>p{
	color: #cf000e;
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
}

.fitle_content .fitle_content_left .fitle_three>ul>li:nth-child(3)>p{
	line-height: 36px;
	
}
.fitle_content .fitle_content_left .fitle_three>ul>li:nth-child(4)>p{
	line-height: 36px;
	
}

/*右边扫二维码登录*/
.fitle_content .fitle_content_right{
	width: 376px;
	height: 610px;
	float: left;
}
.fitle_content .fitle_content_right>p{
	line-height: 32px;
	font-family: "宋体";
	font-size: 14px;
	text-align: center;
	margin-top: 80px;
}
.fitle_content .fitle_content_right>p>a>input{
	border: none;
	width: 100px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #ffffff;
	background-color: #cf000e;
	cursor: pointer;
	
	border-radius: 5px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
	-moz-border-radius: 5px; /* Mozilla浏览器的私有属性 */ 
	-webkit-border-radius: 5px; /* Webkit浏览器的私有属性 */ 
}
.fitle_content .fitle_content_right>div{
	width: 240px;
	height: 260px;
	border-bottom: 1px solid #999999;
	margin-left: 74px;
	margin-bottom: 32px;
}
.fitle_content .fitle_content_right>div>img{
	display: block;
	margin: 88px auto 30px;
}
.fitle_content .fitle_content_right>div>p{
	font-family: "宋体";
	font-size:14px ;
	text-align: center;
}

.fitle_content .fitle_content_right>span{
	display: block;
	font-family: "宋体";
	font-size:14px ;
	margin-left: 74px;
}
.fitle_content .fitle_content_right>span>a{
	display: inline-block;
}





