

.cart_nav{
	width: 621px;
	height: 63px;
	margin: 30px auto 30px;
}
.cart_nav>a{
	display: inline-block;
	float: left;
}
.cart_nav>a>img{
	display: block;
}



.cart_content{
	width: 1200px;
	/*height: 1000px;*/
	margin: 0 auto 75px;
}
.cart_content .top_title{
	height: 60px;
}
.cart_content .top_title>p{
	font-family: "微软雅黑";
	font-size: 24px;
}


.cart_content .nav{
	height: 56px;
	background-color: #eeeeee;
	padding-left: 20px;
	padding-top: 36px;
}
/*全选*/
.cart_content .nav .input{
	display: inline-block;
	width: 280px;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}
.cart_content .nav .input>label{
	display: inline-block;
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
}
.cart_content .nav .input>label>input{
	/*vertical-align: middle;*/
	/*margin-right: 12px;*/
	
	margin-right:4px;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	background-image: url(../img/user/input4.png);
	position: relative;
	top: 5px;
	
}
.cart_content .nav .input>label>input:checked:after{
	content:url(../img/user/input3.png);
	position: absolute;
	top:-2px;
	left: 0px;
	z-index: 2;
	cursor: pointer;
}
/*商品*/
.cart_content .nav .commodity{
	display: inline-block;
	width: 250px;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}
/*单价*/
.cart_content .nav .each{
	display: inline-block;
	width: 150px;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}
/*数量*/
.cart_content .nav .number{
	display: inline-block;
	width: 130px;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}
/*折扣*/
.cart_content .nav .discount{
	display: inline-block;
	width: 108px;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}
/*金额*/
.cart_content .nav .money{
	display: inline-block;
	width: 100px;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}
/*优惠*/
.cart_content .nav .discount_y{
	display: inline-block;
	width: 90px;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}
/*操作*/
.cart_content .nav .operation{
	display: inline-block;
	width: 60px;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}




.cart_content>ul>li{
	display: block;
	overflow: hidden;
	margin: 10px 0 30px;
}

.cart_content>ul>li .input{
	display: inline-block;
	float: left;
	margin-right: 32px;
}
.cart_content>ul>li .input>label{
	display: block;
	height: 62px;
}
.cart_content>ul>li .input>label>a{
	display: block;
	float: left;
}
.cart_content>ul>li .input>label>a>img{
	display: block;
}
.cart_content>ul>li .input>label>span{
	display: inline-block;
	float: left;
	height: 62px;
	width: 52px;
	line-height: 62px;
	text-align: center;
}
.cart_content>ul>li .input>label>span>input{
	display: inline-block;
	vertical-align: middle;
	
	margin-right:4px;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	background-image: url(../img/user/input4.png);
	position: relative;
	top: 5px;
	
}
.cart_content>ul>li .input>label>span>input:checked:after{
	content:url(../img/user/input3.png);
	position: absolute;
	top:0px;
	left: 1px;
	z-index: 2;
	cursor: pointer;
}

/*商品*/
.cart_content>ul>li .commodity{
	display: inline-block;
	float: left;
	height: 63px;
}
.cart_content>ul>li .commodity>p>a{
	display: block;
	font-family: "宋体";
	font-size: 14px;
	line-height: 31px;
	color: #333333;
	
}
/*单价*/
.cart_content>ul>li .each{
	display: inline-block;
	float: left;
	width: 105px;
	height: 63px;
	line-height: 63px;
	font-family: "宋体";
	font-size: 14px;
	text-align: right;
	padding-right: 15px;
}
/*数量*/
.cart_content>ul>li .number{
	display: inline-block;
	float: left;
	width: 161px;
	height: 43px;
	line-height: 63px;
	font-family: "宋体";
	font-size: 14px;
	text-align: center;
	padding-top: 20px;
	padding-left: 62px;
}
.cart_content>ul>li .number .reduce{
	display: block;
	float: left;
	width: 26px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	background-color:#dddddd ;
	border: 1px solid #999999;
	cursor: pointer;
	padding: 0;
}
.cart_content>ul>li .number .text{
	display: block;
	width: 50px;
	height: 22px;
	text-align: center;
	border: 1px solid #999999;
	border-left:none ;
	border-right:none ;
	float: left;
	padding: 0;
	line-height: 22px;
}
.cart_content>ul>li .number .add{
	display:block;
	float: left;
	width: 26px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	background-color:#dddddd ;
	border: 1px solid #999999;
	cursor: pointer;
	padding: 0;
}
/*折扣*/
.cart_content>ul>li .discount{
	display: inline-block;
	float: left;
	width: 46px;
	height: 63px;
	line-height: 63px;
	font-family: "宋体";
	font-size: 14px;
	text-align: center;
}
/*操作*/
.cart_content>ul>li .operation{
	display: inline-block;
	float: left;
	width: 165px;
	height: 63px;
	line-height: 63px;
	font-family: "宋体";
	font-size: 14px;
	text-align: right;
}
.cart_content>ul>li .operation>a{
	color: #db6c22;
}



.cart_content .button_foot{
	width: 95%;
	margin: 0 auto;
}
.cart_content .button_foot>p i{
	font-style: normal;
	font-size: 14px;
}
.cart_content .button_foot>p{
	text-align: right;
	font-family: "宋体";
	font-size: 14px;
	line-height: 30px;
	color: #333333;
	
}
.cart_content .button_foot>p>span{
	font-family: arial;
	font-size: 24px;
	line-height: 30px;
	color: #cf000e;
}
.cart_content .button_foot>p>a{
	display: inline-block;
	width: 172px;
	height: 36px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 24px;
	line-height: 36px;
	color: #000000;
	background-color: #CCCCCC;
	
	border-radius: 5px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
	-moz-border-radius: 5px; /* Mozilla浏览器的私有属性 */ 
	-webkit-border-radius: 5px; /* Webkit浏览器的私有属性 */
	
	margin-right: 45px;
	margin-top: 60px;
	padding-right: 10px;
	
}
.cart_content .button_foot>p>a+a{
	background-color: #e70000;
	color: #FFFFFF;
	margin-right: 0px;
	width: 172px;
	padding-left: 10px;
	padding-right: 0px;
}
