
/*内容里面的头部 当前位置*/
.vip_content{
	width: 1200px;
	/*height: 1000px;*/
	overflow: hidden;
	margin: 0 auto 32px;
	/*background-color: #4776ED;*/
}
.vip_content .top_position{
	height: 37px;
	background-color: #FFFFFF;
	
}
.vip_content .top_position>p{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 37px;
}
.vip_content .top_position>p>a{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 37px;
	
}

/*内容里面的只要内容*/
.vip_content .personal_center{
	width: 1200px;
	
}
/*内容里面的左边*/

.vip_content .personal_center .vip_left{
	width: 180px;
	height: 680px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	float: left;
}
.vip_content .personal_center .vip_left>ul>li{
	display: block;
	width: 157px;
	
	margin:0 auto ; 
}
.vip_content .personal_center .vip_left>ul>li>h1{
	font-weight: 100;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333333;
	line-height: 42px;
	border-bottom: 1px solid #CCCCCC;
}
.vip_content .personal_center .vip_left>ul>li>p>a{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 36px;
	padding-left: 16px;
}


/*内容里面的右边*/

.vip_content .personal_center .vip_right{
	width: 960px;
	/*height: 800px;*/
	background-color: #FFFFFF;
	float: right;
}
.vip_content .personal_center .vip_right .head_portrait{
	width: 958px;
	height: 154px;
	border: 1px solid #CCCCCC;
	
	margin-bottom: 36px;
}
.vip_content .personal_center .vip_right .head_portrait>a>img{
	display: block;
	float: left;
	margin-top: 12px;
	margin-left: 20px;
	margin-right: 20px;
}
.vip_content .personal_center .vip_right .head_portrait>div{
	width: 510px;
	/*height: 130px;*/
	margin-top: 12px;
	float: left;
}
.vip_content .personal_center .vip_right .head_portrait>div>p{
	font-family: "宋体";
	font-size: 14px;
	color: #666666;
	line-height: 36px;
}
.vip_content .personal_center .vip_right .head_portrait>div>p>span{
	font-family: "宋体";
	font-size: 14px;
	color: #666666;
	line-height: 36px;
	margin-right:20px ;
}
.vip_content .personal_center .vip_right .head_portrait>div>ul>li{
	float: left;
	margin-right: 20px;
}
.vip_content .personal_center .vip_right .head_portrait>div>ul>li>a{
	font-family: "宋体";
	font-size: 14px;
	color: #666666;
	line-height: 36px;
	color: #333333;
}
.vip_content .personal_center .vip_right .head_portrait>div>ul>li>a>span{
	font-family: "宋体";
	font-size: 14px;
	color: #666666;
	line-height: 36px;
	color: #d8000f;
}



.vip_content .personal_center .vip_right>ul>li{
	display: block;
	height: 66px;
	padding: 12px;
	border: 1px solid #CCCCCC;
	margin-bottom: 25px;
}
.vip_content .personal_center .vip_right>ul>li .order_number{
	display: inline-block;
	width: 90px;
	
	font-family:"宋体";
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	float: left;
	
	margin-right: 30px;
}
.vip_content .personal_center .vip_right>ul>li>span{
	display: block;
	float: left;
}
.vip_content .personal_center .vip_right>ul>li>span>a>img{
	display: block;
}
.vip_content .personal_center .vip_right>ul>li .text{
	font-family:"宋体";
	font-size: 14px;
	line-height: 26px;
	margin-left: 46px;
}
.vip_content .personal_center .vip_right>ul>li .text>a{
	font-family:"宋体";
	font-size: 14px;
	line-height: 26px;
	color: #333333;
}
.vip_content .personal_center .vip_right>ul>li .price{
	font-family:arial;
	font-size: 18px;
	color: #d8000f;
	line-height: 0px;
	margin-left: 54px;
	
}
.vip_content .personal_center .vip_right>ul>li .price>i{
	display: block;
	font-family:arial;
	font-size: 14px;
	line-height: 42px;
	color: #333333;
	font-style:inherit;
	text-align: center;
	
	text-decoration:line-through
}
.vip_content .personal_center .vip_right>ul>li .order{
	margin-left: 100px;
	margin-top: 6px;
}
.vip_content .personal_center .vip_right>ul>li .order>a{
	display: block;
	width: 85px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: #FFFFFF;
	background-color: #d8000f;
}
.vip_content .personal_center .vip_right>ul>li .order>a+a{
	color: #333333;
	background-color:#FFFFFF;
}
.vip_content .personal_center .vip_right>ul>li .details{
	height: 66px;
	float: right;
}
.vip_content .personal_center .vip_right>ul>li .details>a{
	display: block;
	height: 66px;
	line-height: 66px;
	font-family:"宋体";
	font-size: 14px;
	color: #666666;
}









/*订单详情页*/
.vip_content .personal_center .vip_right .details_top{
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #CCCCCC;
	
	font-family: "微软雅黑";
	font-size: 18px;
	padding-left: 16px;

}

.vip_content .personal_center .vip_right .details_content{
	border: 1px solid #CCCCCC;
	/*height: 240px;*/
	padding-left: 16px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	
}
.vip_content .personal_center .vip_right .details_content>p{
	font-size: 14px;
	font-family: "宋体";
	line-height: 30px;
	color: #333333;
}
.vip_content .personal_center .vip_right .details_content>p>span{
	margin-left: 70px;
}
.vip_content .personal_center .vip_right .details_content>p>i{
	    font-style: inherit;
	    color: #d8000f;
}


.vip_content .personal_center .vip_right .track{
	border: 1px solid #CCCCCC;
	/*height: 240px;*/
	padding-left: 16px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.vip_content .personal_center .vip_right .track>p{
	font-size: 14px;
	font-family: "宋体";
	line-height: 30px;
	color: #333333;
}
.vip_content .personal_center .vip_right .inventory{
	border: 1px solid #CCCCCC;
	/*height: 240px;*/
	padding-left: 16px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	overflow: hidden;
}
.vip_content .personal_center .vip_right .inventory>ul>li{
	display: block;
	margin-top: 10px;
	overflow: hidden;
}
.vip_content .personal_center .vip_right .inventory>ul>li .img{
	display: block;
	float:left;
}
.vip_content .personal_center .vip_right .inventory>ul>li .img>a{
	display: block;
}
.vip_content .personal_center .vip_right .inventory>ul>li .img>a>img{
	display: block;
}

.vip_content .personal_center .vip_right .inventory>ul>li .text{
	display: block;
	float:left;
	margin-left: 56px;
}
.vip_content .personal_center .vip_right .inventory>ul>li .text>a{
	font-size: 14px;
	font-family: "宋体";
	color: #333333;
	line-height: 20px;
}


.vip_content .personal_center .vip_right .inventory>ul>li .price{
	display: block;
	float: left;
	font-size: 14px;
	font-family: arial;
	color: #d8000f;
	line-height: 26px;
	width: 290px;
	text-align: center;
	margin-left: 170px;
}
.vip_content .personal_center .vip_right .inventory>ul>li .price>span{
	float: left;
	font-size: 18px;
	
}
.vip_content .personal_center .vip_right .inventory>ul>li .price>span+span{
	float: right;
	font-size: 18px;
	
}


.vip_content .personal_center .vip_right .inventory .total{
	height: 120px;
	
}
.vip_content .personal_center .vip_right .inventory .total>p{
	text-align: right;
	padding-right: 36px;
	font-family: "宋体";
	font-size: 14px;
	line-height: 26px;
}
.vip_content .personal_center .vip_right .inventory .total>p>span{
	color: #d8000f;
}






/*所有订单页面*/
.vip_content .personal_center .vip_right .all_orders{
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 50px;
	

}
.vip_content .personal_center .vip_right .all_orders>ul{
	display: block;
	border-bottom: 1px solid #CCCCCC;
	line-height: 43px;
	height: 43px;
}
.vip_content .personal_center .vip_right .all_orders>ul>li{
	display: block;
	float: left;
	width: 160px;
	text-align: center;
	line-height: 42px;
	height: 42px;
	font-family: "微软雅黑";
	font-size: 18px;
	cursor: pointer;
	
}
.vip_content .personal_center .vip_right .all_orders>ul>li.on{
	border-bottom: 3px solid #d8000f;
	color: #d8000f;
	
}

.vip_content .personal_center .vip_right .content_orders{
	
}

.vip_content .personal_center .vip_right .content_orders .check{
	height: ;
	padding-left: 35px;
	
}
.vip_content .personal_center .vip_right .content_orders .check>p>span{
	display: inline-block;
	margin-left: 48px;
	margin-right: 82px;
	margin-bottom: 20px;
}
.vip_content .personal_center .vip_right .content_orders .check>p>span>select{
	display: inline-block;
	text-align: center;
	
}


.vip_content .personal_center .vip_right .content_orders .top_orders{
	border: 1px solid #CCCCCC;
	margin-top: 42px;
	height: 36px;
}
.vip_content .personal_center .vip_right .content_orders .top_orders .commodity{
	display: inline-block;
	width: 330px;
	text-align: center;

	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 36px;
	
}
.vip_content .personal_center .vip_right .content_orders .top_orders .each{
	display: inline-block;
	width: 100px;
	text-align: center;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 36px;
}

.vip_content .personal_center .vip_right .content_orders .commodity_one{
	display: inline-block;
	width: 340px;
	height: 150px;
	text-align: center;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 36px;
	float: left;
}
.vip_content .personal_center .vip_right .content_orders .commodity_one>a{
	display: block;
	margin: 0 auto;
}
.vip_content .personal_center .vip_right .content_orders .commodity_one>a>img{
	display: block;
	margin: 0 auto;
}
.vip_content .personal_center .vip_right .content_orders .commodity_one>p{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 26px;
}
.vip_content .personal_center .vip_right .content_orders .commodity_one>p>a{
	display: block;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 26px;
}
.vip_content .personal_center .vip_right .content_orders .commodity_one>span{
	display: block;
	text-align: center;
	font-family: "宋体";
	font-size: 14px;
	color: #666666;.
	line-height: 26px;
}
.vip_content .personal_center .vip_right .content_orders>div>ul{
	display: block;
	overflow: hidden;
}
.vip_content .personal_center .vip_right .content_orders>div>ul>li{
	display: block;
	overflow: hidden;
	margin-top: 10px;
	border-bottom: 1px solid #CCCCCC;
} 
.vip_content .personal_center .vip_right .content_orders .each_one{
	display: inline-block;
	width: 100px;
	height: 150px;
	text-align: center;
	font-family: arial;
	font-size: 18px;
	color: #d8000f;
	line-height: 150px;
	float: left;
	
}
.vip_content .personal_center .vip_right .content_orders .each_tow{
	display: inline-block;
	width: 100px;
	height: 150px;
	text-align: center;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 150px;
	float: left;
	
}
.vip_content .personal_center .vip_right .content_orders .each_three{
	display: inline-block;
	width: 100px;
	height: 150px;
	text-align: center;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 150px;
	float: left;
}
.vip_content .personal_center .vip_right .content_orders .each_three>a{
	color: #333333;
}
.vip_content .personal_center .vip_right .content_orders .each_four{
	display: inline-block;
	width: 120px;
	height: 100px;
	text-align: center;
	font-family: "宋体";
	float: left;
	padding-top: 50px;
}
.vip_content .personal_center .vip_right .content_orders .each_four>a{
	display: block;
	text-align: center;
	color: #d8000f;
}
.vip_content .personal_center .vip_right .content_orders .each_four>a+a{
	color: #333333;
}




.vip_content .personal_center .vip_right .content_orders .foot_flip{
	width: 450px;
	height: 50px;
	margin: 40px auto ;
	
}
.vip_content .personal_center .vip_right .content_orders .foot_flip>ul>li{
	display: inline-block;
	float: left;
	border: none;
	margin: 0 8px 0;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 24px;
}
.vip_content .personal_center .vip_right .content_orders .foot_flip>ul>li>a{
	display: inline-block;
	/*margin: 0 8px 0;*/
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 24px;
}
.vip_content .personal_center .vip_right .content_orders .foot_flip>ul>li>input{
	display: inline-block;
	width: 40px;
	height: 20px;
	text-align: center;
	margin: 0 ;
	padding: 0 ;
	margin-left: 10px;
	margin-right: 10px;
}
.vip_content .personal_center .vip_right .content_orders .foot_flip>ul>li>input[type=button]{
	border: none;
	background-color: #d8000f;
	color: #FFFFFF;
	display: inline-block;
	width: 40px;
	height: 24px;
	line-height: 24px;
}







/*地址页面*/
.vip_content .personal_center .vip_right .address{
	border: 1px solid #CCCCCC;
	border-top:none ;
	padding: 10px;
}
.vip_content .personal_center .vip_right .address>p{
	margin-bottom: 20px;
}
.vip_content .personal_center .vip_right .address>p>span{
	display: inline-block;
	width: 116px;
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	text-align: right;
	padding-right: 10px;
}
.vip_content .personal_center .vip_right .address>p>span>span{
	color: #d8000f;
}
.vip_content .personal_center .vip_right .address>p .address_x{
	display: inline-block;
	/*height: 100px;*/
	float: left;
}
.vip_content .personal_center .vip_right .address>p>textarea{
	margin-left: 3px;
}


/*各种input样式 收货地址页面的*/  
.vip_content .personal_center .vip_right .address .select_left{
	width: 123px; height: 32px; margin-right: 24px;
}
.vip_content .personal_center .vip_right .address .select_right{
	width: 328px; height: 32px;
}
.vip_content .personal_center .vip_right .address .textarea{
	width: 460px; height: 90px; padding-left: 20px;
}
.vip_content .personal_center .vip_right .address .input_code{
	width: 170px; height: 32px; padding-left: 16px;
}
.vip_content .personal_center .vip_right .address .input_telephone{
	width: 240px; height: 32px; padding-left: 24px;
}
.vip_content .personal_center .vip_right .address .button{
	width: 130px; height: 44px; border: none; background-color: #d8000f; color: #FFFFFF; cursor: pointer;
	font-family: "微软雅黑"; font-size: 18px; line-height: 44px;
}





.vip_content .personal_center .vip_right .address_details{
	border: 1px solid #CCCCCC;
	margin-top: 12px;
}
.vip_content .personal_center .vip_right .address_details>span{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 45px;
	display: inline-block;
	width: 96px;
	text-align: center;
}
.vip_content .personal_center .vip_right .first{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 45px;
	display: inline-block;
	width: 96px;
	text-align: center;
}
.vip_content .personal_center .vip_right .first>a{
	display: block;
	height: 24px;
	width: 96px;
	line-height: 24px;
	background-color: #d8000f;
	color: #FFFFFF;
}
.vip_content .personal_center .vip_right .xiu>a{
	display: inline;
	background: none;
	color: #333333;
}
.vip_content .personal_center .vip_right .second{
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	line-height: 45px;
	display: inline-block;
	width: 332px;
	/*text-align: center;*/
	padding-left: 20px;
}

.vip_content .personal_center .vip_right .foot_button{
	width: 860px;
	/*height: 100px;*/
	margin: 70px 0 45px;
}
.vip_content .personal_center .vip_right .foot_button>div{
	float: right;
}
.vip_content .personal_center .vip_right .foot_button>div>span{
	display: inline-block;
	width: 45px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	font-family:"宋体";
	font-size: 14px;
	color: #333333;
}
.vip_content .personal_center .vip_right .foot_button>div>span:hover{
	background-color: #d8000f;
	color: #FFFFFF;
}
.vip_content .personal_center .vip_right .foot_button>div>span:nth-child(2):hover{
	background-color: #FFFFFF;
	color: #333333;
}
	
